<html>
    <meta charset="utf-8">
    {% load staticfiles %}

  <head>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery-ui.structure-all.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery-ui-all.theme.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/slider.css' %}">
      <title>PlanNET - NetCell</title>
      <script>
        var csrf_token = '{{ csrf_token }}';
      </script>
  </head>

  <body>

    <div class="cn-content">
      <div id="exp-name-label" class="exp-name-label">EXP1</div>

      <div class="row">
        <div id="cyt" class="col-sm-9 cn-graph"></div>
        <div class="col-sm-3 cn-controls">
          <!-- CONTROLS -->
          <div class="cnet-controls-header">
            <div class="back-div">
                <a href="{% url index_view %}" class="info-tooltip"
                title="Back to PlanNET"><span class="glyphicon glyphicon-home"></span></a>
                <hr>
                <a target="_blank" href="{% url tutorial %}#netcell" class="info-tooltip"
                title="Go to Tutorial"><span class="glyphicon glyphicon-question-sign"></span></a>
            </div>
            <img class="app-icon-inside" id="cyt-netexplorer-icon" src="{% static 'Images/netcell-icon.png' %}"/>
            <div class="app-title"><h2 id="netexplorer-title">NetCell</h2></div>
            <hr>
          </div>
          <br>
          <!-- NETWORK -->
          <h3>Network</h3>
          <div id="cn-upload-graph" class="btn btn-default cn-network-btn">
            <span class="glyphicon glyphicon-open" style="vertical-align: middle;"></span>
            Upload Graph
          </div>
          <a href="{% url net_explorer %}">
            <div class="btn btn-default netexplorer-view cn-network-btn" type="submit">
              <img src="{% static 'Images/netexplorer-mini.png' %}" class="netexplorer-mini"/>
              Go to NetExplorer
            </div>
          </a>
          <br><br>
          <!-- SELECT EXPERIMENT -->
          <h3>Select Experiment</h3>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle cn-experiment" type="button" data-toggle="dropdown">
              Experiment
              <span class="caret"></span></button>
              <ul class="dropdown-menu cn-experiment-dropdown">
                <!-- This will be filled by Django Query -->
                <li><a href="#">Exp 1</a></li>
                <li><a href="#">Exp 2</a></li>
                <li><a href="#">Exp 3</a></li>
              </ul>
          </div>
          <span class="cn-experiment-upload-btn"><br>or<br></span>
          <div id="cn-upload-experiment" class="btn btn-default cn-experiment-upload-btn">
            <span class="glyphicon glyphicon-open" style="vertical-align: middle;"></span>
            Upload Experiment
          </div>

          <div class="cn-exp-controls">
            <div id="aboutexp-btn" class="btn btn-default">
              <span class="glyphicon glyphicon-info-sign"></span>
              More About Experiment
            </div>
            <div class="cn-celltype-select">
              <br>
              <!-- Cell Type -->
              <h4>Select Cell Type</h4>
              <div id="celltype-dropdown" class="dropdown">
                <button class="btn btn-default dropdown-toggle cn-celltype" type="button" data-toggle="dropdown">
                  Cell Type
                  <span class="caret"></span>
                </button>
                <ul id="celltype-dropdown-ul"  class="dropdown-menu cn-celltype-dropdown">
                  <!-- This will be filled by Query -->
                </ul>
              </div> <!-- dropdown -->
            </div> <!-- cn-celltype-select-->


          </div> <!-- cn-exp-controls -->



        </div> <!-- cn-controls -->
      </div> <!-- row -->
    </div> <!-- cn-content -->

    <!-- UPLOAD GRAPH OVERLAY -->
    <div id="button-container" class="button-container-netcell-uploadgraph">
        <div class="close-overlay close-overlay-uploadgraph" title="Close card">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </div>
    <div class="card-overlay card-overlay-netcell-uploadgraph" id="card-overlay">
      <h4>Upload Graph to NetCell</h4>
      <p>
        Upload your own pathway in any of the formats below:
      </p>
      <hr><br>
      <div class="upload-container">
        <div class="row">
          <div class="col-sm-4">
            <label class="btn btn-default">
              <span class="glyphicon glyphicon-open" style="vertical-align: middle;"></span>
              JSON <input type="file" id="files-json" name="files[]" style="display:none;"/>
            </label>

          </div>
          <div class="col-sm-4">
            <label class="btn btn-default">
              <span class="glyphicon glyphicon-open" style="vertical-align: middle;"></span>
              Tabular <input type="file" id="files-tbl" name="files[]" style="display:none;"/>
            </label>
          </div>
          <div class="col-sm-4">
            <label class="btn btn-default">
              <span class="glyphicon glyphicon-open" style="vertical-align: middle;"></span>
              Graphviz (dot) <input type="file" id="files-dot" name="files[]" style="display:none;"/>
            </label>
          </div>
        </div>
      </div>


    </div>

    <!-- UPLOAD EXPERIMENT CONTAINER -->
    <div id="button-container" class="button-container-netcell-uploadexperiment">
        <div class="close-overlay close-overlay-uploadexperiment" title="Close card">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </div>
    <div class="card-overlay card-overlay-netcell-uploadexperiment" id="card-overlay">
      <h2>Upload SC Experiment to NetCell</h2>
      <p>
        Upload your own Single Cell Experiment in any of the formats below:
      </p>
      <hr><br>
      <div class="upload-container">
        <div class="row">
          <h3>Experiment name</h3>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="exp-name" placeholder="Experiment #1">
          </div>
        </div>

        <hr><br>
        <div class="row">
          <h3>Tabular Files</h3>
          <div class="col-sm-6">
            <h4>Cell Expression</h4>
            <label class="btn btn-default">
              <span class="glyphicon glyphicon-open" style="vertical-align: middle;"></span>
              Upload <input type="file" id="files-cellexp" name="files[]" style="display:none;"/>
            </label>
            <span id="files-cellexp-ok" class="glyphicon glyphicon-ok"></span>
            <span id="files-cellexp-notok" class="glyphicon glyphicon-remove"></span>
          </div>
          <div class="col-sm-6">
            <h4>Cell Clustering</h4>
            <label class="btn btn-default">
              <span class="glyphicon glyphicon-open" style="vertical-align: middle;"></span>
              Upload <input type="file" id="files-cellclust" name="files[]" style="display:none;"/>
            </label>
            <span id="files-cellclust-ok" class="glyphicon glyphicon-ok"></span>
            <span id="files-cellclust-notok" class="glyphicon glyphicon-remove"></span>
          </div>
        </div>
        <br><hr><br>
        <div class="row">
          <h3>SCE Object (RDS)</h3>
          <div class="col-sm-6">
            <label class="btn btn-default">
              <span class="glyphicon glyphicon-open" style="vertical-align: middle;"></span>
              Upload <input type="file" id="files-sce" name="files[]" style="display:none;"/>
            </label>
            <span id="files-sce-ok" class="glyphicon glyphicon-ok"></span>
            <span id="files-sce-notok" class="glyphicon glyphicon-remove"></span>

          </div>
          <div class="col-sm-6">
            <h5>ColData condition names</h5>
            <input type="text" placeholder="clusters" class="form-control" id="cluster-name">
            <input type="text" placeholder="cond1" class="form-control" id="cond1-name">
            <input type="text" placeholder="cond2" class="form-control" id="cond2-name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10">
        </div>
        <div class="col-sm-2 uploadexperiment-send-div">
          <div id="uploadexperiment-send" class="btn btn-success disabled">Upload</div>
        </div>
      </div>

    </div>


    <!-- MORE ABOUT EXPERIMENT CONTAINER -->
    <div id="button-container" class="button-container-netcell-aboutexp">
        <div class="close-overlay close-overlay-aboutexp" title="Close card">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </div>
    <div class="card-overlay card-overlay-netcell-aboutexp" id="card-overlay">
      <h2><span class="exp-name-label">Exp1</span></h2>
      <p>
        Select parameters for clustering visualization:
      </p>
      <hr>
      <div class="row row-eq-height">
        <div class="col-sm-6">
          <div class="reducedDims-container">
            <h4> PCA dimensions </h4>
            <input
                type="text"
                class="span2"
                id="reducedDims"
                data-slider-value="50"
                data-slider-min="0"
                data-slider-max="100"
                data-slider-step="1"
            >

          </div>

          <div class="perplexity-container">
            <h4> Perplexity </h4>
            <input
                type="text"
                class="span2"
                id="perplexity"
                data-slider-value="10"
                data-slider-min="0"
                data-slider-max="100"
                data-slider-step="1"
            >
          </div>
          <hr>
          <h3>Color by:</h3>
          <h4>Cluster/Condition</h4>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle cn-celltype" type="button" data-toggle="dropdown">
              Color by:
              <span class="caret"></span>
            </button>
            <ul id="cn-colorby-dropdown" class="dropdown-menu cn-colorby-dropdown">
              <!-- This will be filled by Query -->

            </ul>
          </div> <!-- dropdown -->
          <h4>Gene Expression</h4>
          <input type="text" placeholder="gene name" class="form-control" id="genename">
        </div>
        <div class="col-sm-6 plot-btn-container">
          <!--EMPTY-->
        </div>
      </div>

      <div class="row row-eq-height">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <div id="plot-btn" class="btn btn-netcell">Plot</div>
        </div>
      </div>
      <br><hr>
      <div class="tsne-plot-container">
        <div id="tsne-plot"></div>
      </div>
      <hr>
      <div class="colored-by"><h4>Colored by: <span class="colored-by-text"></span></h4></div>

    </div>


    <div id="dialog-error" title="Error">
        <p>
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
            <span id="error-content"> </span>
        </p>
    </div>

    <script src="{% static 'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/cytoscape.js' %}"></script>
    <script src="{% static 'js/netcell-cytoscape-definition.js' %}"></script>
    <script src="{% static 'js/jquery-ui-all.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/netcell.js' %}"></script>
    <script src="{% static 'js/card-overlay.js' %}"></script>
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
    <script src="{% static 'js/tinygradient.min.js' %}"></script>
    <script>
        $( function() {
            $( ".info-tooltip" ).tooltip({
                track: true,
                content: function(){
                    return $(this).attr("title");
                }
            });
        } );
    </script>

  </body>
</html>
