{% extends 'NetExplorer/base.html' %}
{% load static %}

{% block title %}- About{% endblock title %}



{% block content %}
    <h2>Transcriptomes</h2>
    <hr>

    <!-- TRANSCRIPTOMES DIVS -->
    {% for db in databases %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="about-title" name="{{ db }}">
                    <h4><img class='legend-db' src="{% static 'Images/legend-' %}{{ db }}.png"/>{{ db }}</h4>
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <table class="table table-hove transcriptome-table">
                            <thead>
                                <th></th>
                                <th></th>
                            <thead>
                            <tbody>
                                <tr>
                                    <td class="text-right"><strong>Year</strong></td> <td>culo</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><strong>Publication</strong></td> <td>culo</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><strong>Number of contigs</strong></td> <td>culo</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><strong>Average contig length</strong></td> <td>culo</td>
                                </tr>
                                <tr>
                                    <td class="text-right"><strong>Number of predicted interactions</strong></td> <td>culo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-9 plot-wrapper">
                        <div class="row plot-btns">
                            <div class="col-sm-6 btn btn-default" data-id="{{ db }}"  name="prev">Prev</div>
                            <div class="col-sm-6 btn btn-default" data-id="{{ db }}" name="next">Next</div>
                        </div>
                        <div class="{{ db }} plot-viewer" data-id="{{ db }}">
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/sequence-length.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/longest-orfs.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/transcriptome-brh-venn.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/subject-brh-venn.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/blast-brh-coverage.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/nogs-brh-coverage.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/predictions-path-length.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/predictions-domain-int-score.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/predictions-cellcom-nto.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/predictions-molfun-nto.png"/>
                            </div>
                            <div class="plot-img" data-id="{{ db }}">
                                <img class="plot-img-png" src="{% static 'Images' %}/{{ db }}/predictions-bioproc-nto.png"/>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}



{% block scripts %}
    <!-- CHANGE ACTIVE NAVBAR BUTTON -->
    <script>
        $(".navbar-element").toggleClass('active inactive');
        $("#navbar-about").toggleClass('inactive active')
    </script>
    <script src="{% static 'js/about-interactome-plots.js' %}"></script>

{% endblock scripts%}
