{% extends 'NetExplorer/base.html' %}
{% load static %}

{% block title %}- About{% endblock title %}



{% block content %}
    <h2>About</h2>
    <hr>
    <p>
        <strong>PlanNET</strong> is a web application that stores predicted <i>Schmidtea mediterranea</i> protein-protein interactions (ppi) projected over a Human ppi network.
         Currently, PlanNET holds 460,663 human ppi, and 510,996 <i>Schmidtea mediterranea</i> interactions (predicted for 10 different transcriptomes).
    </p>

    <p>
        PlanNET has been developed by the <a href="https://compgen.bio.ub.edu" target="_blank">Computational Genomics Lab</a>, at the University of Barcelona.
    </p>


{% endblock content %}



{% block scripts %}
    <!-- CHANGE ACTIVE NAVBAR BUTTON -->
    <script>
        $(".navbar-element").toggleClass('active inactive');
        $("#navbar-about").toggleClass('inactive active')
    </script>
    <script src="{% static 'js/about-interactome-plots.js' %}"></script>
{% endblock scripts%}
