{% extends 'NetExplorer/base.html' %}
{% load static %}

{% block title %}- Account{% endblock title %}



{% block content %}
    <h2>Hello, {{ user.username }} </h2>
    <hr>

    <h3>Change password</h3>
    <br>
    {% if error_msg %}
        <div class="error-login">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Error
                </div>
                <div class="panel-body">
                    {{ error_msg }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if success_msg %}
        <div class="error-login">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Error
                </div>
                <div class="panel-body">
                    {{ success_msg }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-div">
        <form id="change-password-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="previous">Previous password</label>
                <input type="password" class="form-control" name="previous" id="previous">
            </div>
            <hr>
            <div class="form-group">
                <label for="pwd1">New Password:</label>
                <input type="password" class="form-control" name="pwd1" id="pwd1">
            </div>
            <div class="form-group">
                <label for="pwd2">Repeat Password:</label>
                <input type="password" class="form-control" name="pwd2" id="pwd2">
            </div>
            <button type="submit" value=" Send" class="btn btn-info" id="submit">Log In</button>
        </form>
    </div>

{% endblock content %}



{% block scripts %}
    <!-- CHANGE ACTIVE NAVBAR BUTTON -->
    <script>
        $(".navbar-element").toggleClass('active inactive');
        $("#navbar-login").toggleClass('inactive active')
    </script>
    <script src="{% static 'js/about-interactome-plots.js' %}"></script>
{% endblock scripts%}
