<html>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <head>
        <title>PlaNET</title>
    </head>

    <body>
        <div id="page-container">
            <div id="content">
                <div id="logo-container">
                    <a href="/"> <img id="logoheader" src="{% static 'Images/prevlogo.png' %}"/> </a>
                </div>

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#">Tutorial</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </nav>


                <div id="body-wrapper">
                    {% block content %}
                    <!-- This will be filled by index.html template -->
                    {% endblock %}
                </div>

        </div>

        <footer class="footer-distributed">
            <br>

			<div class="footer-right">
				<a href="https://www.facebook.com/Computational-Genomics-Lab-at-Genetics-Dep-UB-267633036589772/" target="_blank">
                    <img src="{% static 'Images/facebook.png' %}" class="social-icon"/>
                </a>
				<a href="#" target="_blank"><img src="{% static 'Images/twitter.png' %}" class="social-icon"></></a>
				<a href="https://compgen.bio.ub.edu/gitlab/" target="_blank"><img src="{% static 'Images/gitlab.png' %}" class="social-icon"></></a>

			</div>

            <a href="https://compgen.bio.ub.edu/Home"  target="_blank"> <img id="compgen-logo" src="{% static 'Images/compgen-logo.png' %}"/> </a>
			<div class="footer-left">

				<p class="footer-links">
                    <a href="https://compgen.bio.ub.edu/Home" target="_blank">Home</a>
                    ·
                    <a href="https://compgen.bio.ub.edu/Research" target="_blank">Research</a>
                    ·
                    <a href="https://compgen.bio.ub.edu/Acknowledgements" target="_blank">Acknowledgments</a>
                    ·
                    <a href="https://compgen.bio.ub.edu/contact" target="_blank">Contact</a>
				</p>

				<p class="lab">Computational Genomics Lab &copy; 2016</p>
			</div>

		</footer>


    </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'js/backtotop.js' %}"></script>
        <script src="{% static 'js/overlay.js' %}"></script>

        <!-- This function registers a "click event" on a small-searchpanel and
             sends to Django's view "get_card" the variables "symbol" and "database".
          -->

        <script>

            $(function() {
                $('.small-searchpanel').click(function() {
                    var card_data = {
                        target  : $(this).attr("target"),
                        targetDB: $(this).attr("targetDB"),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }

                    // Add history entry!!
                    history.pushState(card_data, null, "/gene_card/" + card_data['targetDB'] + "/" + card_data['target']);

                    // Get the ID of the div to update
                    elementID = card_data["target"] + "_card";
                    $.ajax({
                        type: "GET",
                        url: "{% url get_card %}",
                        data: {
                            'target'    : card_data['target'],
                            'targetDB'  : card_data['targetDB'],
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success : function(data) {
                            $('[id="' + elementID + '"]').html(data);
                            $(document).ready(function(){
                                $('.int-table-class').DataTable({
                                    "order": [[ 1, "desc" ]]
                                });
                            });
                        }
                    });


                    //$(this).nextAll(".card-overlay").load("/");
                    //$(this).closest('.card-overlay').load("/");
                });


            });

        </script>

    </body>
</html>
