{% extends 'NetExplorer/base.html' %}
{% load static %}

{% block title %}
     - BLAST
{% endblock title %}





{% block content %}

<!-- ERROR MESSAGE -->
<div class="panel panel-danger error-msg">
    <div class="panel-heading">
        Error
    </div>
    <div class="panel-body">
        {{ error_msg }}
    </div>
</div>


<!-- BLAST FORM -->
<div class="panel panel-blast">
    <div class="panel-heading">
        <div class="row row-eq-height">
            <div class="col-sm-1 blast-icon-container">
                <img class="blast-icon-inside" src="{% static 'Images/blast-icon-transparent.png' %}"/>
            </div>
            <div class="col-sm-11 blast-title">
                <h1>BLAST</h1>
            </div>
        </div>
    </div>

    <div class="panel-body">

        <form id="blast_form" method="post" enctype="multipart/form-data" action="{% url 'blast' %}">
            {% csrf_token %}

            <h2>Query</h2>
            <label for="query-textarea"></label>
            <textarea form="blast_form" name="fasta_plain" class="form-control" id="query-textarea" rows="6" cols="12" placeholder="Paste your sequences here"></textarea>
            <br>or
            <label class="btn btn-default" for="my-file-selector">
                <input id="my-file-selector" name="fastafile" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                Upload Fasta
            </label>
            <span class='label label-blast' id="upload-file-info"></span>

            <hr>
            <h2>Database</h2>
            <select id="database-selection" name="database" class="selectpicker" title="Select Database">
                <option data-content="<span class='badge badge-success human-select'>Human</span>" value="Human">Human</option>
                <option data-divider="true"></option>
                {% for db in databases %}
                    <option data-content="<img class='legend-db' src='{% static 'Images/' %}legend-{{ db.name }}.png'>{{ db.name }}" value="{{ db.name }}">{{ db.name }}</option>
                {% endfor %}
            </select>
            <br><br>
            <hr>
            <h2>Application</h2>
            <select name="type" class="selectpicker" title="Select type of BLAST">
                <option id="blastn"  value="blastn">BLASTn&nbsp&nbsp&nbsp&nbsp<i>(nucleotide → nucleotide) </i></option>
                <option id="blastp"  value="blastp">BLASTp&nbsp&nbsp&nbsp&nbsp<i>(protein → protein)</i></option>
                <option id="blastx"  value="blastx">BLASTx&nbsp&nbsp&nbsp&nbsp<i>(tr.nucleotide → protein)</i></option>
                <option id="tblastx" value="tblastx">tBLASTx&nbsp&nbsp&nbsp<i>(tr.nucleotide → tr.nucleotide)</i></option>
                <option id="tblastn" value="tblastn">tBLASTn&nbsp&nbsp&nbsp<i>(protein → tr.nucleotide)</i></option>
            </select>
            <button id="blast-btn" type="submit" class="btn btn-blast">
                 BLAST
            </button>

        </form>


    </div>

</div>

<div class="results-div">
    {% if results %}
        <h2>Results</h2>
        <br>
            <table id="blast-results">
                <thead>
                    <tr>
                        <th>Query</th>
                        <th>Subject</th>
                        <th>Identity</th>
                        <th>Al length</th>
                        <th>Mismatches</th>
                        <th>Gap opens</th>
                        <th>Q start</th>
                        <th>Q end</th>
                        <th>S start</th>
                        <th>S end</th>
                        <th>E-value</th>
                        <th>Bit score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in results %}
                        <tr>
                            {% for col in line %}
                                {% if forloop.counter == 2 %}
                                    <td>
                                        <a class="card-trigger"
                                           title="Click to view info card"
                                           target="{{ col }}"
                                           targetDB="{{ database }}">
                                           {{ col }}
                                        </a>
                                    </td>
                                {% else %}
                                    <td>{{ col }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- HIDDEN CARD OVERLAY -->
            <div id="button-container">
                <div class="close-overlay" title="Close card">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
                <div class="full-screen-card" title="Open in new window">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </div>
            </div>
            <div id="card-overlay" class="card-overlay">
                <div class="card-title">

                </div>
           </div>

    {% else %}
        {% if noresults %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2>No results for your query.</h2>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}



<!-- ADDITIONAL SCRIPTS -->
{% block scripts %}
<script src="{% static 'js/get-card.js' %}"></script>
<script src="{% static 'js/searchpanel.js' %}"></script>
<script src="{% static 'js/blast-type-handler.js' %}"></script>
    {% if results %}
        <script>
            $(document).ready(function(){
                $('#culo').DataTable();
                $('#blast-results').DataTable();
            });
        </script>
    {% endif %}
{% if error_msg %}
    <script>
        $(".error-msg").show();
    </script>
{% endif %}

{% endblock scripts %}
