{% load static %}
{% load staticfiles %}


<html>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <head>
        <title>PlaNET - Net Explorer</title>
        <script>
            var graphelements = {
                nodes: [
	                   { data: { id: 'cth1_Trc_comp948_c0_seq1', name: 'cth1_Trc_comp948_c0_seq1', colorNODE: '#CA6347', database: "Cthulhu"}},
	                      { data: { id: 'cth1_Trc_comp12511_c0_seq1', name: 'cth1_Trc_comp12511_c0_seq1', colorNODE: '#CA6347', database: "Cthulhu"}},
	                    ],
                edges: [
	                    { data: { id: 'cth1_Trc_comp12511_c0_seq1-cth1_Trc_comp948_c0_seq1', source: 'cth1_Trc_comp12511_c0_seq1', target: 'cth1_Trc_comp948_c0_seq1', colorEDGE: '#CA6347', probability: '0.9' }},
                        ]

            };
        </script>
    </head>

    <body>



        <div id="cyt"></div>

        <div id="cyt-controls">
            <img class="app-icon-inside" id="cyt-explorer-icon" src="{% static 'Images/network-icon.png' %}"/>

            <!-- Layout Selection-->
            <div class="dropdown" id="select-layout-container">
                <h3>Select Layout:</h3>
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Cose
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu" id="select-layout">
                        <li><a href="#">Cose</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Grid</a></li>
                        <li><a href="#">Circle</a></li>
                        <li><a href="#">Random</a></li>
                    </ul>
                <hr>
            </div>


            <!--- "On click" Behaviour -->
            <div id="on-click-container">
                <h3>On click behaviour:</h3>
                <input
                    class="click-behaviour"
                    checked type="checkbox"
                    data-toggle="toggle"
                    data-on="Show card"
                    data-off="Expand"
                    data-onstyle="success"
                    data-offstyle="info"
                >
                <hr>
            </div>

            <!--- "Camera" Controls -->

            <div id="center-to-graph-container">
                <h3>Controls:</h3>
                <button class="btn btn-default" id="center-to-graph" type="button">
                    Center to Graph
                </button>
            </div>



        </div> <!--cyt-controls-->


        <!-- Get info Card on click -->
        <!-- Gene Card -->
        <div id="button-container">
            <div class="close-overlay" title="Close card">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <div class="full-screen-card" title="Open in new window">
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </div>
        </div>
        <div class="card-overlay" id="card-overlay"></div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="{% static 'js/overlay.js' %}"></script>
        <script src="{% static 'js/cytoscape.js' %}"></script>
        <script src="{% static 'js/cyto-netexplorer.js' %}"></script>
    </body>


</html>
