{% load static %}
{% load staticfiles %}


<html>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggle-switch.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">


    <head>
        <title>PlaNET - Net Explorer</title>
        <script>
            var graphelements = {{ json_data|safe }};
        </script>
    </head>

    <body>



        <div id="cyt"></div>

        <div id="cyt-controls">
            <img class="app-icon-inside" id="cyt-explorer-icon" src="{% static 'Images/network-icon.png' %}"/>
            <h2>Net Explorer</h2>
            <a href="/">Back to PlaNet</a>
            <!-- Layout Selection-->
            <div class="dropdown" id="select-layout-container">
                <hr>
                <h3>Select Layout</h3>
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Cose
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu" id="select-layout">
                        <li><a href="#">Cose</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Grid</a></li>
                        <li><a href="#">Cola</a></li>
                        <li><a href="#">Circle</a></li>
                        <li><a href="#">Dagre</a></li>
                        <li><a href="#">Random</a></li>
                    </ul>
                <hr>
            </div>


            <!--- "On click" Behaviour -->
            <div id="on-click-container">
                <h3>On Click</h3>

                <fieldset>
                    <div class="switch-toggle switch-candy behaviour-div">
                        <form action="" id="behaviour-form">
                            <input id="radio-card" name="behaviour" type="radio" value="card" checked>
                            <label for="radio-card" onclick="">Card</label>
                            <input id="radio-expand" value="expand" name="behaviour" type="radio">
                            <label for="radio-expand" onclick="">Expand</label>
                            <input id="radio-delete" value="delete" name="behaviour" type="radio">
                            <label for="radio-delete" onclick="">Delete</label>
                            <a></a>
                        </form>
                    </div>
                </fieldset>

                <!--<input
                    class="click-behaviour"
                    checked type="checkbox"
                    data-toggle="toggle"
                    data-on="Show card"
                    data-off="Expand"
                    data-onstyle="info"
                    data-offstyle="success"
                > -->
                <hr>
            </div>

            <div id="slider-container">
                <h3>Filter interactions</h3>
                <h5>by probability</h5>
                -<input
                    type="text"
                    class="span2"
                    id="sl1"
                    data-slider-value="0.6"
                    data-slider-min="0.6"
                    data-slider-max="0.95"
                    data-slider-step="0.05"
                    data-slider-selection="after"
                >+
                <hr>
            </div>

            <div id="controls-container">

                <h3>Controls</h3>

                <!--- "Camera" Controls -->

                <div id="center-to-graph-container">
                    <button class="btn btn-default" id="center-to-graph" type="button">
                        <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
                    </button>
                    <h5>Center</h5>
                </div>

            <!--- Save Image -->

                <div id="save-image-container">
                    <a download="graph-export" id="image-download" title="Save graph as a png image">
                        <button class="btn btn-default" id="save-image" type="button">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        </button>
                    </a>
                    <h5>Save Image</h5>
                </div>

                <br>
            </div>



        </div> <!--cyt-controls-->


        <!-- Get info Card on click -->
        <!-- Gene Card -->
        <div id="button-container">
            <div class="close-overlay" title="Close card">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <div class="full-screen-card" title="Open in new window">
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </div>
        </div>
        <div class="card-overlay" id="card-overlay"></div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="{% static 'js/overlay.js' %}"></script>
        <script src="{% static 'js/cytoscape.js' %}"></script>
        <script src="{% static 'js/bootstrap-slider.js' %}"></script>
        <script src="{% static 'js/cyto-netexplorer.js' %}"></script>
        <script src="{% static 'js/dagre.js' %}"></script>
        <script src="{% static 'js/cytoscape-dagre.js' %}"></script>
        <script src="{% static 'js/cytoscape-cola.js' %}"></script>
        <script src="{% static 'js/cytoscape-cola-min.js' %}"></script>
        <script>
        // Initialize slider to filter edges. Function to filter them is in cyto-netexplorer.js
            $('#sl1').slider();
            var RGBChange = function() {
                $('#RGB').css('background', 'rgb('+r.getValue()+','+g.getValue()+','+b.getValue()+')')
            };

            var r = $('#R').slider()
                    .on('slide', RGBChange)
                    .data('slider');
                    var g = $('#G').slider()
                    .on('slide', RGBChange)
                    .data('slider');
                    var b = $('#B').slider()
                    .on('slide', RGBChange)
                    .data('slider');

        </script>
    </body>


</html>
