{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-data-tables.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">


<html>

    <body>
            <div id="content-fullscreen">

                <div class="card-title">
                    <h1>{{ node.symbol }}</h1>
                </div>

                <br>
                <a href="javascript:window.print()">
                    <span class="glyphicon glyphicon-print" title="print page"></span>
                </a>
                {% if node.database == "Human" %}
                <!--HUMAN CARD -->
                    <h2>Show xrefs here :)</h2>

                {% else %}
                <!--PREDICTED NODE CARD -->
                    <h2>Sequence information</h2>
                    <hr>

                    <h3>Read sequence:</h3>
                    <a href="{% url get_fasta %}?genesymbol={{ node.symbol }}&database={{ node.database }}&type=sequence">
                        <div class="download-fasta-wrapper" title="Download FASTA file">
                            <img class="download-fasta" src="{% static 'Images/download-icon.png' %}">
                            Download FASTA
                        </div>
                    </a>
                    <div class="sequence-container">
                        <p>{{ node.sequence }}</p>
                    </div>

                    <h3>Longest Orf sequence:</h3>
                    <a href="{% url get_fasta %}?genesymbol={{ node.symbol }}&database={{ node.database }}&type=orf">
                        <div class="download-fasta-wrapper" title="Download FASTA file">
                            <img class="download-fasta" src="{% static 'Images/download-icon.png' %}">
                            Download FASTA
                        </div>
                    </a>
                    <div class="sequence-container">
                        <p>{{ node.orf }}</p>
                    </div>

                    {% if node.homolog %}
                        <h2>Homolog</h2>
                        <hr>
                        <h4><strong>Symbol:</strong>
                            <a href="/gene_card/Human/{{ node.homolog.human.symbol }}">{{ node.homolog.human.symbol }}</a>
                        </h4>

                            <ul>
                                <li>
                                    <a target="_blank" title="Search on HGNC" href="http://www.genenames.org/cgi-bin/gene_search?search={{ node.homolog.human.symbol }}&submit=Submit">
                                        Search on HGNC
                                    </a>
                                </li>

                                <li>
                                    <a target="_blank" title="Search on Uniprot" href="http://www.uniprot.org/uniprot/?query=gene%3A{{ node.homolog.human.symbol }}+AND+organism%3Ahuman&sort=score">
                                        Search on Uniprot
                                    </a>
                                </li>
                            </ul>

                        <br>
                        <h4><strong>EggNOG alignment</strong></h4>
                            {% if node.homolog.nog_eval == "10" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                    <tr> <td class="homology-table-header">EggNOG e-value</td> <td>{{ node.homolog.nog_eval }}</td> </tr>
                                    <tr> <td class="homology-table-header">EggNog BRH</td>     <td>{{ node.homolog.nog_brh }} </td> </tr>
                                </table>
                            {% endif %}

                        <h4><strong>BLAST</strong></h4>
                            {% if node.homolog.blast_eval == "10" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                    <tr><td class="homology-table-header">BLAST e-value</td>         <td>{{ node.homolog.blast_eval }}</td> </tr>
                                    <tr><td class="homology-table-header">BLAST query coverage</td>  <td>{{ node.homolog.blast_cov }} </td> </tr>
                                    <tr><td class="homology-table-header">BLAST BRH</td>             <td>{{ node.homolog.blast_brh }} </td> </tr>
                                </table>
                            {% endif %}


                        <h4><strong>PFAM meta-alignment</strong></h4>
                            {% if node.homolog.pfam_sc == "0" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                        <tr> <td class="homology-table-header">M.A. Score</td> <td>{{ node.homolog.pfam_sc }}</td>   </tr>
                                        <tr> <td class="homology-table-header">M.A. BRH</td>   <td>{{ node.homolog.pfam_brh }}</td>  </tr>
                                </table>
                            {% endif %}

                    {% endif %}

                    <br>
                    <h2>Domains</h2>
                    <hr>
                    {% if node.domains == None %}
                        No domains.
                    {% else %}
                        <table class="table table-hover domain-table">
                            <thead>
                                <tr>
                                    <th>Accession</th>
                                    <th>Identifier</th>
                                    <th>Sequence Start</th>
                                    <th>Sequence End</th>
                                    <th>Pfam Start</th>
                                    <th>Pfam End</th>
                                    <th>% of Domain</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for dom in node.domains %}
                            <tr>
                                <td>{{ dom.domain.accession }}</td>
                                <td>{{ dom.domain.identifier }}</td>
                                <td>{{ dom.s_start }}</td>
                                <td>{{ dom.s_end }}</td>
                                <td>{{ dom.p_start }}</td>
                                <td>{{ dom.p_end }}</td>
                                <td>{{ dom.perc }}</td>
                            </tr>

                        {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}


                    <br>
                    <h2>Interactions</h2>
                    <hr>
                    {% if node.neighbours %}
                    <div class="int-table-container">
                        <table id="int-table" class="table table-hover int-table-class">
                            <thead>
                                <tr>
                                <th>Symbol</th>
                                <th>Probability</th>
                                <th>Path Length</th>
                                <th>Cellular Component NTO</th>
                                <th>Molecular Function NTO</th>
                                <th>Biological Process NTO</th>
                                <th>Domain Interaction Score</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for int in node.neighbours %}
                            <tr>
                                <td><a href="/gene_card/{{ int.target.database }}/{{ int.target.symbol }}">{{ int.target.symbol }}</a>
                                </td>
                                <td>{{ int.parameters.int_prob }}</td>
                                <td>{{ int.parameters.path_length }}</td>
                                <td>{{ int.parameters.cellcom_nto }}</td>
                                <td>{{ int.parameters.molfun_nto }}</td>
                                <td>{{ int.parameters.bioproc_nto }}</td>
                                <td>{{ int.parameters.dom_int_sc }}</td>
                            </tr>

                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h3>No interactions</h3>
                    {% endif %}


                {% endif %}
        </div>
    </body>


    <script src="{% static 'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/bootstrap-min.js' %}"></script>
    <script src="{% static 'js/jquery-data-tables-min.js' %}"></script>

    <script>

    $(document).ready(function(){
        $('#int-table').DataTable({
            "order": [[ 1, "desc" ]]
        });
    });

    </script>
</html>
