{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">


<html>

    <body>

                <div class="card-title">
                    <h1>{{ node.symbol }}</h1>
                </div>

                {% if node.database == "Human" %}
                <!--HUMAN CARD -->
                    <h2>Show xrefs here :)</h2>

                {% else %}
                <!--PREDICTED NODE CARD -->
                    <h2>Sequence information</h2>
                    <hr>

                    <h3>Read sequence:</h3>
                    <a href="{% url get_fasta %}?genesymbol={{ node.symbol }}&database={{ node.database }}&type=sequence">
                        <div class="download-fasta-wrapper" title="Download FASTA file">
                            <img class="download-fasta" src="{% static 'Images/download-icon.png' %}">
                            Download FASTA
                        </div>
                    </a>
                    <div class="sequence-container">
                        <p>{{ node.sequence }}</p>
                    </div>

                    <h3>Longest Orf sequence:</h3>
                    <a href="{% url get_fasta %}?genesymbol={{ node.symbol }}&database={{ node.database }}&type=orf">
                        <div class="download-fasta-wrapper" title="Download FASTA file">
                            <img class="download-fasta" src="{% static 'Images/download-icon.png' %}">
                            Download FASTA
                        </div>
                    </a>
                    <div class="sequence-container">
                        <p>{{ node.orf }}</p>
                    </div>

                    {% if node.homolog %}
                        <h2>Homolog</h2>
                        <hr>
                        <h4>
                            <strong>Symbol:</strong> <a
                            class="card-link"
                            current="{{ node.symbol }}"
                            currentDB="{{ node.database }}"
                            target="{{ node.homolog.human.symbol }}"
                            targetDB="Human">{{ node.homolog.human.symbol }}</a>

                        </h4>

                            <ul>
                                <li>
                                    <a target="_blank" title="Search on HGNC" href="http://www.genenames.org/cgi-bin/gene_search?search={{ node.homolog.human.symbol }}&submit=Submit">
                                        Search on HGNC
                                    </a>
                                </li>

                                <li>
                                    <a target="_blank" title="Search on Uniprot" href="http://www.uniprot.org/uniprot/?query=gene%3A{{ node.homolog.human.symbol }}+AND+organism%3Ahuman&sort=score">
                                        Search on Uniprot
                                    </a>
                                </li>
                            </ul>

                        <br>
                        <h4><strong>EggNOG alignment</strong></h4>
                            {% if node.homolog.nog_eval == "10" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                    <tr> <td class="homology-table-header">EggNOG e-value</td> <td>{{ node.homolog.nog_eval }}</td> </tr>
                                    <tr> <td class="homology-table-header">EggNog BRH</td>     <td>{{ node.homolog.nog_brh }} </td> </tr>
                                </table>
                            {% endif %}

                        <h4><strong>BLAST</strong></h4>
                            {% if node.homolog.blast_eval == "10" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                    <tr><td class="homology-table-header">BLAST e-value</td>         <td>{{ node.homolog.blast_eval }}</td> </tr>
                                    <tr><td class="homology-table-header">BLAST query coverage</td>  <td>{{ node.homolog.blast_cov }} </td> </tr>
                                    <tr><td class="homology-table-header">BLAST BRH</td>             <td>{{ node.homolog.blast_brh }} </td> </tr>
                                </table>
                            {% endif %}


                        <h4><strong>PFAM meta-alignment</strong></h4>
                            {% if node.homolog.pfam_sc == "0" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                        <tr> <td class="homology-table-header">M.A. Score</td> <td>{{ node.homolog.pfam_sc }}</td>   </tr>
                                        <tr> <td class="homology-table-header">M.A. BRH</td>   <td>{{ node.homolog.pfam_brh }}</td>  </tr>
                                </table>
                            {% endif %}

                    {% endif %}

                    <br>
                    <h2>Domains</h2>
                    <hr>
                    {% if node.domains == None %}
                        No domains.
                    {% else %}
                        <table class="table table-hover domain-table">
                            <thead>
                                <tr>
                                    <th>Accession</th>
                                    <th>Identifier</th>
                                    <th>Sequence Start</th>
                                    <th>Sequence End</th>
                                    <th>Pfam Start</th>
                                    <th>Pfam End</th>
                                    <th>% of Domain</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for dom in node.domains %}
                            <tr>
                                <td>
                                    <a href="http://pfam.xfam.org/family/{{ dom.domain.accession }}" target="_blank" title="Open on PFAM site">
                                        {{ dom.domain.accession }}
                                    </a>
                                </td>
                                <td>{{ dom.domain.identifier }}</td>
                                <td>{{ dom.s_start }}</td>
                                <td>{{ dom.s_end }}</td>
                                <td>{{ dom.p_start }}</td>
                                <td>{{ dom.p_end }}</td>
                                <td>{{ dom.perc }}</td>
                            </tr>

                        {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    <!-- PRINT THE TABLE WITH THE DOMAINS REPRESENTED AS LINES -->
                    <div id="pfam-domains-line-table"></div>


                    <br>
                    <h2>Interactions</h2>
                    <hr>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="View on NetExplorer">
                        <form method="POST" action="{% url net_explorer %}" target="_blank"> {% csrf_token %}
                            <input type="hidden" name="json_text" value='{{ json_graph|safe }}' />
                            <button id="netexplorer-mini" class="btn btn-default netexplorer-view" type="submit">
                                <img src="{% static 'Images/netexplorer-mini.png' %}" class="netexplorer-mini"/>
                            </button>
                        </form>
                    </a>
                    {% if node.neighbours %}
                    <div class="int-table-container">
                        <table id="int-table" class="table table-hover int-table-class">
                            <thead>
                                <tr>
                                <th>Symbol</th>
                                <th>Probability</th>
                                <th>Path Length</th>
                                <th>Cellular Component NTO</th>
                                <th>Molecular Function NTO</th>
                                <th>Biological Process NTO</th>
                                <th>Domain Interaction Score</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for int in node.neighbours %}
                            <tr>
                                <td><a
                                    class="card-link"
                                    current="{{ node.symbol }}"
                                    currentDB="{{ node.database }}"
                                    target="{{ int.target.symbol }}"
                                    targetDB="{{ int.target.database }}">{{ int.target.symbol }}</a>
                                </td>
                                <td>{{ int.parameters.int_prob }}</td>
                                <td>{{ int.parameters.path_length }}</td>
                                <td>{{ int.parameters.cellcom_nto }}</td>
                                <td>{{ int.parameters.molfun_nto }}</td>
                                <td>{{ int.parameters.bioproc_nto }}</td>
                                <td>{{ int.parameters.dom_int_sc }}</td>
                            </tr>

                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h3>No interactions</h3>
                    {% endif %}




                {% endif %}
    </body>



    <script>
        $('.card-link').click(function() {
            var card_data = {
                div_id    : $(this).closest('.card-overlay').attr("id"),
                current   : $(this).attr("current"),
                currentDB: $(this).attr("currentDB"),
                target    : $(this).attr("target"),
                targetDB : $(this).attr("targetDB"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }

            history.pushState(card_data, null, "{% url index_view %}gene_card/" + card_data.targetDB + "/" + card_data.target);
            // Load Get request html on current card-overlay
            $.ajax({
                type: "GET",
                context: this, //this makes the this variable visible inside the success
                url: "{% url get_card %}",
                cache: true,
                data: {
                    'target'    : card_data['target'],
                    'current'   : card_data['current'],
                    'targetDB'  : card_data['targetDB'],
                    'currentDB' : card_data['currentDB'],
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success : function(data) {
                    $(this).closest('.card-overlay').html(data)
                    $(document).ready(function(){
                        $('#int-table').DataTable({
                            "order": [[ 1, "desc" ]]
                        });
                    });
                }
            });


        });

        // This will check if the user is pressing the "back" button on his/her
        // browser. If that's the case, it will update the content of the "visible"
        // card-div.
        window.onpopstate = function(event) {
            if (event.state != null){
                console.log("AJAX!");
                $.ajax({
                    type: "GET",
                    context: this, //this makes the this variable visible inside the success
                    url: "{% url get_card %}",
                    cache: true,
                    data: {
                        'target'    : event.state['target'],
                        'targetDB'  : event.state['targetDB'],
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success : function(data) {
                        $('.card-overlay:visible').html(data)
                    }
                });
            }
        };

    </script>

    {% if domains %}
        <script>
            function tonewscale(start, end, length) {
                // This function takes twoo coordinates (start and end), and the
                // length of a given sequence and returns the corresponding width
                // percentage of the sequence start->end on a sequence of length
                // "length". It also returns the new "start" coordinate.
                // It basically converts coordinates to percentages.
                var width = Math.round(((end - start) / length) * 10000) /100;
                var newstart = Math.round((start/length)* 10000)/100;
                return {'width': width, 'newstart': newstart}
            };

            function drawrule(length, binsize) {
                // This function creates a Reference rule using images. It takes
                // the length of the sequence and the binsize in characters.

                // Basic HTML
                var rule_html = "<tr class='pfam-line-table-tr'>";
                rule_html    += "<td class='pfam-line-table-td-name'><strong>Reference</strong></td>";
                rule_html    += "<td class='pfam-line-table-td-line'>";

                // Get 50 nucleotides in rule scale as percentage
                binsize += 1; // We add 1 to have binsize characters from 1 to binsize
                var rule_bins   = tonewscale(1, binsize, length);
                alert(rule_bins['width']);
                var num_of_bins = Math.floor(100 / rule_bins['width']);
                alert(num_of_bins);
                var bin_width   = rule_bins['width'] - 0.5; // The breaks will be 0.5% wide.
                var percentage = 0; // Percentage of the sequence already drawn.
                for (var i = 0; i <num_of_bins; i++) {
                    percentage += bin_width + 0.5;
                    rule_html  += "<img src='{% static 'Images/pfam-line-rule.png' %}' style='width:" + bin_width + "%;height:12px;'>";
                    rule_html  += "<img src='{% static 'Images/pfam-line-rule-break.png' %}' style ='width:0.5%; height:12px;'>";
                }
                // Draw the last bin, which could be less than binsize characters
                var remaining = 100 - percentage;
                if (percentage != 0) {
                    rule_html    += "<img src='{% static 'Images/pfam-line-rule.png' %}' style='width:" + remaining + "%;height:12px;'>";
                }

                // Close table
                rule_html    += "</td></tr>";
                return rule_html;
            }

            var doms        = {{ domains|safe }};
            var seq_length  = {{ node.orflength }};
            var newhtml = "<table id='pfam-line-table'><tbody>";
            newhtml     += drawrule(seq_length, 50);

            for (var i in doms){
                newcoords = tonewscale(doms[i]['s_start'], doms[i]['s_end'], seq_length);
                newhtml += "<tr class='pfam-line-table-tr'>";
                newhtml += "<td class='pfam-line-table-td-name'>";
                newhtml += "<a href='http://pfam.xfam.org/family/" + doms[i]['accession'] + "' ";
                newhtml += "target='_blank' title='Open on PFAM site'>" + doms[i]['accession'] + "</td>";
                newhtml += "<td class='pfam-line-table-td-line'>";
                newhtml += "<img src='{% static 'Images/pfam-line.png' %}' style='width:" + newcoords['width'] + "%; margin-left:" + newcoords['newstart'] + "%; height:12px;'>"
                newhtml += "</td></tr>";
            }
            newhtml += "</tbody></table>"
            $('#pfam-domains-line-table').html(newhtml);

            //
            //}
        </script>
    {% endif %}
</html>

<!--
<table id='pfam-line-table' class='table table-hover'>
    <tbody>
        <tr class='pfam-line-table-row'>
            <img src='/static/Images/pfam-line.png' style='width:254; margin-left:37'>
        </tr>
        <tr class='pfam-line-table-row'>
            <img src='/static/Images/pfam-line.png' style='width:212; margin-left:68'>
        </tr></tbody></table>
-->
