{% extends 'NetExplorer/base.html' %}

{% block content %}

    <h1>Gene Finder</h1>
    <form method="GET">
        {% csrf_token %}

        <div id="search-wrapper">
            <div class="form-group">
                <label for="genesymbol">Gene Symbol:</label>
                <input type="text" class="form-control" name="genesymbol">

                <label for="database">Select Database:</label>
                    <select name="database" class="form-control">
                        <option value="Human">Human</option>
                        <option value="Cthulhu">Cthulhu</option>
                        <option value="Consolidated">Consolidated</option>
                        <option value="PFAM">PFAM</option>
                    </select>
                <br>
                <button type="submit" value=" Send" class="btn btn-info" id="submit">Search</button>
            </div>
        </div>

    {{ msg }}

    <br><br>
    {% if res %}
        {% for sym in res %}
            {{ sym }}
        {% endfor %}
    {% endif %}

    {% if search_error %}
        NO RESULTS FOR YOUR QUERY :(
    {% endif %}

{% endblock content %}
