{% load static %}
<!--NOT NECESSARY
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">-->
<link rel="stylesheet" href="{% static 'css/jquery-data-tables.css' %}">



<html>

    <body>

        <div class="card-subtitle">
            <h3>
                <a target="_blank" title="Information about the dataset" href="{% url datasets %}#{{ node.database }}">
                    <img class='legend-db' src="{% static 'Images/' %}legend-{{ node.database }}.png"/>
                    {{ node.database }}
                </a>
            </h3>
        </div>
        <div class="card-title">
            <h1>{{ node.symbol }}</h1>
        </div>

                {% if node.database == "Human" %}
                <!--HUMAN CARD -->
                    <h2>Homologs</h2>
                    <hr>
                    {% for db, list  in homologs.items %}
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ db }} </div>
                            <div class="panel-body">
                                <table class="table table-hover hom-table">
                                    {% if list %}
                                        <thead>
                                            <th>Symbol</th>
                                            <th>EggNOG e-value</th>
                                            <th>EggNOG BRH</th>
                                            <th>BLAST e-value</th>
                                            <th>BLAST coverage</th>
                                            <th>BLAST BRH</th>
                                            <th>Pfam M.A. score</th>
                                            <th>Pfam M.A. BRH</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for hom in list %}
                                                <tr>
                                                    <td>
                                                        <a
                                                            class="card-link"
                                                            current="{{ node.symbol }}"
                                                            currentDB="{{ node.database }}"
                                                            target="{{ hom.prednode.symbol }}"
                                                            targetDB="{{ hom.prednode.database }}">{{ hom.prednode.symbol }}
                                                        </a>
                                                    </td>
                                                    <td>{{ hom.nog_eval }}</td>
                                                    <td>{{ hom.nog_brh }}</td>
                                                    <td>{{ hom.blast_eval }}</td>
                                                    <td>{{ hom.blast_cov }}</td>
                                                    <td>{{ hom.blast_brh }}</td>
                                                    <td>{{ hom.pfam_sc }}</td>
                                                    <td>{{ hom.pfam_brh }}</td>
                                                </tr>
                                            {% endfor %}

                                    {% else %}
                                        <tr><td><h4>No Homologs</h4></td></tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    {% endfor %}

                {% else %}
                <!--PREDICTED NODE CARD -->
                    <h2>Sequence information</h2>
                    <hr>

                    <h3>Read sequence:</h3>
                    <a href="{% url get_fasta %}?genesymbol={{ node.symbol }}&database={{ node.database }}&type=sequence">
                        <div class="download-fasta-wrapper" title="Download FASTA file">
                            <img class="download-fasta" src="{% static 'Images/download-icon.png' %}">
                            Download FASTA
                        </div>
                    </a>
                    <div class="sequence-container">
                        <p>>{{ node.symbol}}</p>
                        <p>{{ node.sequence }}</p>
                    </div>

                    <h3>Longest Orf sequence:</h3>
                    <a href="{% url get_fasta %}?genesymbol={{ node.symbol }}&database={{ node.database }}&type=orf">
                        <div class="download-fasta-wrapper" title="Download FASTA file">
                            <img class="download-fasta" src="{% static 'Images/download-icon.png' %}">
                            Download FASTA
                        </div>
                    </a>
                    <div class="sequence-container">
                        <p>>{{ node.symbol}}-orf</p>
                        <p>{{ node.orf }}</p>
                    </div>

                    {% if node.homolog %}
                        <h2>Homolog</h2>
                        <hr>
                        <h4>
                            <strong>Symbol:</strong> <a
                            class="card-link"
                            current="{{ node.symbol }}"
                            currentDB="{{ node.database }}"
                            target="{{ node.homolog.human.symbol }}"
                            targetDB="Human">{{ node.homolog.human.symbol }}</a>

                        </h4>

                            <ul>
                                <li>
                                    <a target="_blank" title="Search on HGNC" href="http://www.genenames.org/cgi-bin/gene_search?search={{ node.homolog.human.symbol }}&submit=Submit">
                                        Search on HGNC
                                    </a>
                                </li>

                                <li>
                                    <a target="_blank" title="Search on Uniprot" href="http://www.uniprot.org/uniprot/?query=gene%3A{{ node.homolog.human.symbol }}+AND+organism%3Ahuman&sort=score">
                                        Search on Uniprot
                                    </a>
                                </li>
                            </ul>

                        <br>
                        <h4><strong>EggNOG alignment</strong></h4>
                            {% if node.homolog.nog_eval == "10" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                    <tr> <td class="homology-table-header">EggNOG e-value</td> <td>{{ node.homolog.nog_eval }}</td> </tr>
                                    <tr> <td class="homology-table-header">EggNog BRH</td>     <td>{{ node.homolog.nog_brh }} </td> </tr>
                                </table>
                            {% endif %}

                        <h4><strong>BLAST</strong></h4>
                            {% if node.homolog.blast_eval == "10" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                    <tr><td class="homology-table-header">BLAST e-value</td>         <td>{{ node.homolog.blast_eval }}</td> </tr>
                                    <tr><td class="homology-table-header">BLAST query coverage</td>  <td>{{ node.homolog.blast_cov }} </td> </tr>
                                    <tr><td class="homology-table-header">BLAST BRH</td>             <td>{{ node.homolog.blast_brh }} </td> </tr>
                                </table>
                            {% endif %}


                        <h4><strong>PFAM meta-alignment</strong></h4>
                            {% if node.homolog.pfam_sc == "0" %}
                                No best hit.
                                <br>
                            {% else %}
                                <table class="table table-hover homology-table">
                                        <tr> <td class="homology-table-header">M.A. Score</td> <td>{{ node.homolog.pfam_sc }}</td>   </tr>
                                        <tr> <td class="homology-table-header">M.A. BRH</td>   <td>{{ node.homolog.pfam_brh }}</td>  </tr>
                                </table>
                            {% endif %}

                    {% endif %}

                    <br>
                    <h2>Domains</h2>
                    <hr>
                    {% if node.domains == None %}
                        No domains.
                    {% endif %}

                    <!-- PRINT THE TABLE WITH THE DOMAINS REPRESENTED AS LINES -->
                    <div id="pfam-domains-line-table"></div>
                    <br><br>

                    <!-- INTERACTIONS -->
                    <div class="row row-eq-height interactions-title">
                        <div class="col-sm-10">
                            <h2>Interactions</h2>
                            <hr>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="view-on-netexplorer" data-toggle="tooltip" data-placement="top" title="View on NetExplorer">
                                <form class="view-on-netexplorer" method="POST" action="{% url net_explorer %}" target="_blank"> {% csrf_token %}
                                    <input type="hidden" name="json_text" value='{{ json_graph|safe }}' />
                                    <button id="netexplorer-mini" class="btn btn-default netexplorer-view view-on-netexplorer-btn" type="submit">
                                        <img src="{% static 'Images/netexplorer-mini.png' %}" class="netexplorer-mini"/>
                                    </button>
                                </form>
                            </a>
                        </div>
                    </div>
                    {% if node.neighbours %}
                    <br>
                    <div class="int-table-container">
                        <table id="int-table" class="table table-hover int-table-class">
                            <thead>
                                <tr>
                                <th>Symbol</th>
                                <th>Probability</th>
                                <th>Path Length</th>
                                <th>Cellular Component NTO</th>
                                <th>Molecular Function NTO</th>
                                <th>Biological Process NTO</th>
                                <th>Domain Interaction Score</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for int in node.neighbours %}
                            <tr>
                                <td><a
                                    class="card-link"
                                    current="{{ node.symbol }}"
                                    currentDB="{{ node.database }}"
                                    target="{{ int.target.symbol }}"
                                    targetDB="{{ int.target.database }}">{{ int.target.symbol }}</a>
                                </td>
                                <td>{{ int.parameters.int_prob }}</td>
                                <td>{{ int.parameters.path_length }}</td>
                                <td>{{ int.parameters.cellcom_nto }}</td>
                                <td>{{ int.parameters.molfun_nto }}</td>
                                <td>{{ int.parameters.bioproc_nto }}</td>
                                <td>{{ int.parameters.dom_int_sc }}</td>
                            </tr>

                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h3>No interactions</h3>
                    {% endif %}

                {% endif %} <!-- If Human or PredictedNode -->
    </body>

    <script src="{% static 'js/jquery-data-tables-min.js' %}"></script>
    <script>
        $('.card-link').click(function() {
            var card_data = {
                div_id      : $(this).closest('.card-overlay').attr("id"),
                current     : $(this).attr("current"),
                currentDB   : $(this).attr("currentDB"),
                target      : $(this).attr("target"),
                targetDB    : $(this).attr("targetDB"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            history.pushState(card_data, null, "/PlanNET{% url index_view %}gene_card/" + card_data.targetDB + "/" + card_data.target);

            // Load Get request html on current card-overlay
            $.ajax({
                type: "GET",
                context: this, //this makes the this variable visible inside the success
                url: "{% url get_card %}",
                cache: true,
                data: {
                    'target'    : card_data['target'],
                    'current'   : card_data['current'],
                    'targetDB'  : card_data['targetDB'],
                    'currentDB' : card_data['currentDB'],
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success : function(data) {
                    $(this).closest('.card-overlay').html(data)
                    $(document).ready(function(){
                        $('#int-table').DataTable({
                            "order": [[ 1, "desc" ]]
                        });
                    });
                }
            });


        });

        // This will check if the user is pressing the "back" button on his/her
        // browser. If that's the case, it will update the content of the "visible"
        // card-div.
        window.onpopstate = function(event) {
            if (event.state != null){
                $.ajax({
                    type: "GET",
                    context: this, //this makes the this variable visible inside the success
                    url: "{% url get_card %}",
                    cache: true,
                    data: {
                        'target'    : event.state['target'],
                        'targetDB'  : event.state['targetDB'],
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success : function(data) {
                        if ( $(".card-overlay").is(':hidden')  ){
                            $('[id="card-overlay"]').slideToggle(450);
                            $('.close-overlay').slideToggle(450);
                            $('.full-screen-card').slideToggle(450);
                        }
                        $('.card-overlay:visible').html(data)
                    }
                });
            } else {
                $('.card-overlay').hide(250);
                $('.close-overlay').hide();
                $('.full-screen-card').hide();
            }
        };

    </script>

    {% if domains %}
        <script>
            function toNewScale(start, end, length) {
                // This function takes twoo coordinates (start and end), and the
                // length of a given sequence and returns the corresponding width
                // percentage of the sequence start->end on a sequence of length
                // "length". It also returns the new "start" coordinate.
                // It basically converts coordinates to percentages.
                var width = Math.round(((end - start) / length) * 10000) /100;
                var newstart = Math.round((start/length)* 10000)/100;
                return {'width': width, 'newstart': newstart}
            };

            function domainTooltip(acc, id,  s_start, s_end, p_start, p_end, perc) {
                // Html of the domain tooltip when hovering over domain line/square
                return [
                    "'<strong>", id, "</strong>\n",
                    "<div class=\"pfam-line-tooltip-subtitle\">", acc,  "</div>",

                    "<hr>",
                    "<table class=\"domain-table\">",
                        "<tr>",
                            "<td>",
                                "<strong>on Orf:</strong>",
                            "</td>",
                        "</tr>",
                        "<tr>",
                            "<td>", "Start", "</td>",
                            "<td>", s_start, "</td>",
                        "</tr>",
                        "<tr>",
                            "<td>", "End", "</td>",
                            "<td>", s_end, "</td>",
                        "</tr>",
                        "<tr>",
                            "<td>",
                                "<strong>on Domain:</strong>",
                            "</td>",
                        "</tr>",
                        "<tr>",
                            "<td>", "Start", "</td>",
                            "<td>", p_start, "</td>",
                        "</tr>",
                        "<tr>",
                            "<td>", "End", "</td>",
                            "<td>", p_end, "</td>",
                        "</tr>",
                        "<tr>",
                            "<td>", "% of domain", "</td>",
                            "<td>", perc, "</td>",
                        "</tr>",
                    "</table>\n'"
                ].join('');
            };

            function domainRowTemplate(acc, id, s_start, s_end, p_start, p_end, perc, seq_length, mlength) {
                // This function returns the HTML code of a pfam domain row in the
                // visual representation of the domains over a reference line.
                newcoords = toNewScale(s_start, s_end, seq_length);
                newcoords['width']    -= 0.4;   // We remove 2x0.2% from the width to have start/ending imgs
                newcoords['newstart'] += 0.2; // We add 0.2% from newstart/offset to allow space for the start img
                starting = "";
                ending   = "";
                if (p_start == 1) {
                    starting = "'{% static 'Images/pfam-line-end.png' %}'";
                } else {
                    starting = "'{% static 'Images/pfam-line.png' %}'";
                }

                if (p_end == mlength) {
                    ending = "'{% static 'Images/pfam-line-end.png' %}'";
                } else {
                    ending = "'{% static 'Images/pfam-line.png' %}'";
                }

                return [
                    "<tr class='pfam-line-table-tr'>",
                        "<td class='pfam-line-table-td-name'>",
                            "<a href='http://pfam.xfam.org/family/", acc, " '",
                                " target='_blank' title='Open on PFAM site'>", id,
                            "</a>",
                        "</td>",
                        "<td class='pfam-line-table-td-line pfam-line-tooltip' ",
                            "title=", domainTooltip(acc, id, s_start, s_end, p_start, p_end, perc), ">",
                            "<img src=", starting, " style='width: 0.2%; height:12px; margin-left:", newcoords['newstart'], "%; '/>",
                            "<img src='{% static 'Images/pfam-line.png' %}' ",
                                 "style='width:", newcoords['width'], "%; height:12px;'",
                            "/>",
                            "<img src=", ending, " style='height:12px; width:0.2%;'/>",
                        "</td>",
                    "</tr>"
                ].join('');
            };

            function drawRule(length, binsize) {
                // This function creates a Reference rule using images. It takes
                // the length of the sequence and the binsize in characters.

                // Basic HTML
                var rule_html = [];
                rule_html.reference = "<tr class='pfam-line-table-tr'>";
                rule_html.reference    += "<td class='pfam-line-table-td-name'><strong>Reference</strong></td>";
                rule_html.reference    += "<td class='pfam-line-table-td-line'>";
                if (length <= binsize) {
                    rule_html.reference  += "<img src='{% static 'Images/pfam-line-rule.png' %}' style='width:100%;height:12px;'>";
                    return rule_html;
                }
                // Get 50 nucleotides in rule scale as percentage
                 // We add 1 to have binsize characters from 1 to binsize
                var rule_bins   = toNewScale(1, binsize +1, length);
                var num_of_bins = Math.floor(100 / rule_bins['width']);
                var bin_width   = rule_bins['width'] - 0.5; // The breaks will be 0.5% wide.
                var percentage = 0; // Percentage of the sequence already drawn.

                // Draw scale for the rule
                var scale_offset = 100 - bin_width - 1; // -1 because we remove the two breaks
                rule_html.scale = "<tr class='pfam-line-table-tr'>" +
                                      "<td class='pfam-line-table-td-name'></td>" +
                                      "<td class='pfam-line-table-td-line'>" +
                                          "<div class='pfam-line-table-td-text' style='width:" + (bin_width + 1) + "%;" +
                                          "margin-left:" + scale_offset + "%;'>" + binsize + " aa</div>" +
                                      "</td>" +
                                   "</tr>";
                rule_html.scale += "<tr class='pfam-line-table-tr'><td class='pfam-line-table-td-name'></td><td class='pfam-line-table-td-line'>" +
                                      "<img class='pfam-line-table-td-scale' src='{% static 'Images/pfam-line-rule-break.png' %}' style ='width:0.5%; height:12px;" + "margin-left:"  + scale_offset + "%;'>" +
                                      "<img src='{% static 'Images/pfam-line-rule.png' %}'" + " style='width:" + bin_width + "%;height:12px;'>" +
                                      "<img src='{% static 'Images/pfam-line-rule-break.png' %}' style ='width:0.5%; height:12px;'>" +
                                      "</td></tr>";
                for (var i = 0; i <num_of_bins; i++) {
                    s_rule = i*binsize + 1;
                    e_rule = (i+1)*binsize;
                    percentage += bin_width + 0.5;
                    rule_html.reference  += "<img class='pfam-line-tooltip' " +
                                  "src='{% static 'Images/pfam-line-rule.png' %}'"  +
                                  " style='width:" + bin_width + "%;height:12px;' " +
                                  "title='<table class=\"domain-table\">" +
                                      "<tr><td>From: </td><td>" + s_rule + "</td></tr>" +
                                      "<tr><td>To: </td><td>"   + e_rule + "</td></tr>"+
                                  "</table>'" + ">";
                    rule_html.reference  += "<img src='{% static 'Images/pfam-line-rule-break.png' %}' style ='width:0.5%; height:12px;'>";
                }
                // Draw the last bin, which could be less than binsize characters
                var remaining = 100 - percentage;
                if (percentage != 0) {
                    rule_html.reference    += "<img class='pfam-line-tooltip' " +
                                    "src='{% static 'Images/pfam-line-rule.png' %}' " +
                                    "style='width:" + remaining + "%;height:12px;' "  +
                                    "title='<table class=\"domain-table\">" +
                                        "<tr><td>From: </td><td>" + num_of_bins * binsize + "</td></tr>" +
                                        "<tr><td>To: </td><td>"   + length + "</td></tr></table>'" + ">";
                }

                // Close row
                rule_html.reference    += "</td></tr>";
                return rule_html;
            }

            var doms        = {{ domains|safe }};
            var seq_length  = {{ node.orflength }};
            var newhtml = "<table id='pfam-line-table'><tbody>";
            var binsize = 0;

            // Seq length of the sequence and decide how many aa per break in rule
            //binsize = Math.ceil((seq_length/10)/25) * 25;
            if (seq_length <= 100) {
                binsize = 10;
            } else if (seq_length <= 200) {
                binsize = 20;
            } else if (seq_length <= 500) {
                binsize = 50;
            } else if (seq_length <= 1000) {
                binsize = 100;
            } else if (seq_length <= 1500) {
                binsize = 150;
            } else if (seq_length <= 2000) {
                binsize = 200;
            } else if (seq_length <= 3000){
                binsize = 300;
            } else if (seq_length <= 4000){
                binsize = 400;
            } else {
                binsize = 500;
            }


            var rule =  drawRule(seq_length, binsize);
            newhtml     += rule.reference;

            for (var i in doms){
                newhtml += domainRowTemplate(
                    doms[i]["accession"],
                    doms[i]["identifier"],
                    doms[i]["s_start"],
                    doms[i]["s_end"],
                    doms[i]["p_start"],
                    doms[i]["p_end"],
                    doms[i]["perc"],
                    seq_length,
                    doms[i]["mlength"]
                );
            }

            // Draw the scale for the rule
            newhtml += rule.scale;
            newhtml += "</tbody></table>"
            $('#pfam-domains-line-table').html(newhtml);
        </script>
        <script>
            $( function() {
                $( ".pfam-line-tooltip" ).tooltip({
                    track: true,
                    content: function(){
                        return $(this).attr("title");
                    }
                });
            } );
        </script>
    {% endif %}

    <script>
        $(document).ready(function(){
            $('.int-table').DataTable({
                "order": [[ 1, "desc" ]]
            });

        });
    </script>

</html>

<!--
<table id='pfam-line-table' class='table table-hover'>
    <tbody>
        <tr class='pfam-line-table-row'>
            <img src='/static/Images/pfam-line.png' style='width:254; margin-left:37'>
        </tr>
        <tr class='pfam-line-table-row'>
            <img src='/static/Images/pfam-line.png' style='width:212; margin-left:68'>
        </tr></tbody></table>
-->
