{% extends 'NetExplorer/base.html' %}
{% load static %}

{% block title %}
     - Gene Search
{% endblock title %}





{% block content %}


<!-- FORM -->

    <div class="panel panel-info" >
        <div class="panel-heading"><h2>Gene Search</h2></div>
        <div id="search-wrapper">
            <img class="app-icon-inside" src="{% static 'Images/gene-finder-icon.png' %}"/>
            <div class="panel-body app-panel">
                <form class= "form-inline" method="GET" action="{% url gene_search %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="genesymbol" placeholder="Enter Symbol">

                        <select name="database" class="selectpicker" title="Select Database">
                            <option value="Human">Human</option>
                            <option value="Cthulhu">Cthulhu</option>
                            <option value="Consolidated">Consolidated</option>ç
                            <option value="Dresden">Dresden</option>
                            <option value="PFAM">PFAM</option>
                        </select>
                        <button type="submit" value=" Send" class="btn btn-info" id="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <br>
    <br>

    <!-- SEARCH RESULTS -->
    {% if res %}

        <h2>Results:</h2>

        <!-- Small searchpanel for each gene in results -->
        {% for node in res %}
            <div id="{{ node.symbol }}"
                 class="panel panel-info small-searchpanel card-trigger"
                 title="Click to view info card"
                 target="{{ node.symbol }}"
                 targetDB="{{ node.database }}">

                <div class="panel-heading">{{ node.symbol }}</div>
                <div class="panel-body app-panel">
                    <p>Database: {{ node.database }}</p>
                </div>
            </div>
        {% endfor %}

        <!-- This will be filled by the JS code in base.html with an onclick
             event triggered by small-searchpanel -->
        <div id="button-container">
            <div class="close-overlay" title="Close card">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <div class="full-screen-card" title="Open in new window">
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </div>
        </div>
        <div id="card-overlay" class="card-overlay">
            <div class="card-title">

            </div>
       </div>

    {% else %}
        <!-- NO RESULTS, LOOK FOR ERROR -->
        {% if search_error == 1 %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2>No results for your query.</h2>
                </div>
                <div class="panel-body">
                    <h2>Possible causes</h2>
                    <ul>
                        <li>The identifiers were not correctly spelled.</li>
                        <li>The requested gene/contig may not have human homologs, and thus, is not present in our database.</li>
                    </ul>
                </div>
            </div>
        {% elif search_error == 2 %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2>No database selected.</h2>
                </div>
                <div class="panel-body">
                    Please, select a database.
                </div>
            </div>
        {% elif search_error %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Internal Server Error
                </div>
            </div>
        {% endif %}
    {% endif %}

    <a href="#0" class="cd-top" title="Back to Top">Top</a>
{% endblock content %}


<!-- ADDITIONAL SCRIPTS -->
{% block scripts %}
    <script src="{% static 'js/get-card.js' %}"></script>
    <script src="{% static 'js/searchpanel.js' %}"></script>
    <script>
        $( function() {
            $( ".info-tooltip" ).tooltip({
                track: true,
                content: function(){
                    return $(this).attr("title");
                }
            });
        } );
    </script>
{% endblock scripts %}
