{% load staticfiles %} 

<br><br>
{% if stats %}
    <table class="table go-stats-tbl table-hover">
        <tr>
            <td><b>Total Genes</b></td>
            <td>{{ stats.input_genes }}</td>
        </tr>
        <tr>
            <td><b>Genes with GO</b></td>
            <td>{{ stats.genes_with_go }}</td>
        </tr>
        <tr>
            <td><b>Total GO</b></td>
            <td>{{ stats.num_of_go }}</td>
        </tr>
        <tr>
            <td><b>Significant GO</b></td>
            <td>{{ stats.num_of_sig_go }}</td>
        </tr>
    </table>
{% endif %}

<br><br>
{% if plots %}

    <div class="btn btn-default" id="download-go-csv" data="{{ golist }}">Download CSV</div>

    
    <ul class="nav nav-tabs" id="goea-domain">
            <li class="active"><a data-toggle="tab" href="#BP">Biological Process</a></li>
            <li><a data-toggle="tab" href="#MF">Molecular Function</a></li>
            <li><a data-toggle="tab" href="#CC">Cellular Component</a></li>
    </ul>


    <div class="tab-content">

        

        {% for key, value in plots.items %}
        <div id="{{ key }}"  class="tab-pane fade in {% if key == 'BP' %} active {% endif %}">
            
        {% if value %}
            <a target="data:image/png;base64,{{ value }}" href="#" target="_blank">
                <img class="goea-plot" src="data:image/png;base64,{{ value }}"/>
            </a>
        {% else %}
            No results 
        {% endif %}
        </div>

            
        {% endfor %}
    </div>

    <script>
            $(".goea-plot").parent().on("click", function(event) {
                event.preventDefault();
                window.open($(this).attr("target"), '_blank');  
            })
    
    </script>

{% else %}
    No results
{% endif %}

    
