{% load staticfiles %} 

{% if markers %}
    <table id="planexp-markers-table" class="table table-hover">
        <thead>
    
            <tr>
                <th>Symbol</th>
                <th>Gene</th>
                <th>Homolog</th>
                <th>AUC</th>
                <th>Average Difference</th>
            </tr>
        </thead>
        <tbody>
            {% for mark in markers %}
                <tr>
                        
                    <td>
                        <a class="card-trigger"
                            title="Click to view info card"
                            target="{{ mark.gene_symbol }}"
                            targetDB="{{ database.name }}">
                            {{ mark.gene_symbol }}
                        </a>
                    </td>
                   
                    {% if mark.gene %}
                        <td>
                            <a class="card-trigger"
                                title="Click to view info card"
                                target="{{ mark.gene }}"
                                targetDB="Smesgene">
                                {{ mark.gene }} {% if mark.name %} ({{ mark.name }}) {% endif %}
                            </a>
                        </td>
                    {% else %}
                        <td>None</td>
                    {% endif %}

                    {% if mark.homolog %}
                        <td>
                            <a class="card-trigger"
                                title="Click to view info card"
                                target="{{ markhomolog }}"
                                targetDB="Human">
                                {{ mark.homolog }} 
                            </a>
                        </td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                    
                    <td>{{ mark.auc  }}</td>
                    <td>{{ mark.avg_diff|floatformat:3 }}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>

    <script src="{% static 'js/root.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#planexp-markers-table").DataTable({
                "order": [[ 3, "desc" ]],
                dom: 'Bfrtip',
                buttons: [
                    'csvHtml5'
                ]
            });
        });
    </script>

{% else %}
   SUPPP
{% endif %}