{% extends 'NetExplorer/base.html' %}

{% block content %}




    <h1>Net Explorer</h1>
    <form method="GET">
        {% csrf_token %}

        <div id="search-wrapper">
            <div class="form-group">
                <label for="genesymbol">Gene Symbol:</label>
                <input type="text" class="form-control" name="genesymbol">

                <label for="database">Select Database:</label>
                    <select name="database" class="form-control">
                        <option value="Human">Human</option>
                        <option value="Cthulhu">Cthulhu</option>
                        <option value="Consolidated">Consolidated</option>
                    </select>
                <br>
                <button type="submit" value=" Send" class="btn btn-success" id="submit">Explore</button>
            </div>
        </div>

        {{hola}}



{% endblock content %}
