{% extends 'NetExplorer/base.html' %}
{% load static %}

{% block content %}



<!-- FORM -->

    <div class="panel panel-success" >
        <div class="panel-heading"><h2>Net Explorer</h2></div>
        <div id="search-wrapper">
            <img class="app-icon-inside" src="{% static 'Images/network-icon.png' %}"/>
            <div class="panel-body app-panel">
                <form class= "form-inline" method="GET" action="{% url info_card %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="target" placeholder="Enter Symbol">

                        <select name="targetDB" class="form-control">
                            <option value="" selected disabled>Select Database</option>
                            <option value="Human">Human</option>
                            <option value="Cthulhu">Cthulhu</option>
                            <option value="Consolidated">Consolidated</option>
                        </select>
                        <button type="submit" value=" Send" class="btn btn-success" id="submit" >Explore</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




        {{hola}}



{% endblock content %}
