{% load static %}
{% load staticfiles %}


<html>
    <meta charset="utf-8">

    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/toggle-switch.css' %}">
        <link rel="stylesheet" href="{% static 'css/cytoscape.js-panzoom.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.structure-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui-all.theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
        <link rel="shortcut icon" href="{% static 'Images/mini-logo.ico' %}">
        <title>PlanNET - Net Explorer</title>
        <script>
            var graphelements = "";
            var upload_json   = "";
            var no_layout     = 0;
        </script>
        {% if upload_json %}
            <script>
                upload_json = {{ upload_json|safe }};
            </script>
        {% endif %}
        {% if no_layout %}
            <script>
                no_layout = 1;
            </script>
        {% endif %}
    </head>

    <body>

        {% if json_err %}
        <div id="dialog-jsonerr" title="Not a valid Graph file">
            <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
                Uploaded file is not a valid cytoscape graph declaration json.
            </p>
        </div>
        {% endif %}


        <!-- CYTOSCAPE DIV -->
        <div id="cyt">
            <div id="loading"><img class="loading-img" src="{% static 'Images/loading.gif' %}"/><img src="{% static 'Images/loading-background.png' %}" class="loading-background"/></div>

            <div id="color-gradient"></div>

            <div id="legend-nodecount-wrapper" class="row">
                <div id="legend" class="col-sm-4">
                    <a class="info-tooltip legend-tooltip" title="
                    <h4>Legend<hr></h4>
                    <img class='legend-db' src='{% static 'Images/legend-Human.png' %}'/> Human<br>
                    {% for db in databases %}<img class='legend-db' src='{% static 'Images/legend-' %}{{ db }}.png'/>{{ db }}<br>
                    {% endfor %}
                    <hr>
                    <img class='legend-db' src='{% static 'Images/legend-size.png' %}'/> Degree (No. of interactions)<br>
                    <hr>
                    <img class='legend-db' src='{% static 'Images/legend-int1.png' %}'/> Interaction also found in Human<br>
                    <img class='legend-db' src='{% static 'Images/legend-int2.png' %}'/> Interaction <strong>not</strong> found in Human<br>
                    <img class='legend-db' src='{% static 'Images/legend-int4.png' %}'/> Homology relationship<br>
                    <img class='legend-db' src='{% static 'Images/legend-int3.png' %}'/> Interaction between homologs<br>
                    ">
                        <span class="glyphicon glyphicon-info-sign legend-icon" aria-hidden="true"></span>
                    </a>
                </div>
                <div id="node-counter" class="col-sm-8">
                    Node Count: <span id="node-count">0</span>
                </div>
            </div>
        </div>

        <!-- MAP EXPRESSION DIV -->
        <div id="map-expression-dialog">
            <div id="map-expression-dialog-header">
                <div id="close-map-expression" title="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
            </div>
            <div id="map-expression-dialog-body">
                <h2>Select Experiment</h2>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <select id="select-expression" name="expression" class="selectpicker">
                            <option value="" selected disabled>Select Expression data</option>
                            {% for experiment in experiments.experiments %}
                                <option value="{{ experiment.id }}">{{ experiment.id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div id="available-datasets">
                            <h4 class="available-for">Available for datasets:</h4>
                            {% for experiment,datasets in experiments.datasets.items %}
                                {% for dataset in datasets %}
                                    <div class="available-for {{experiment}}"><img class='legend-db' src='{% static 'Images/legend-' %}{{ dataset }}.png'/>{{ dataset }}</div>
                                {% endfor %}
                            {% endfor %}
                                {% for experiment in experiments.experiments %}
                                    <div class="experiment-ref {{experiment.id }}">
                                        <br>
                                        <strong>Reference:</strong>
                                        <a target="_blank" class="experiment-ref-url" href="{{ experiment.url }}">
                                            <span class="experiment-ref-name">{{ experiment.reference }}</span>
                                        </a>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
                <h2>Select Samples</h2>
                <hr>
                <div class="sample-container">
                    <div id="exTab2" class="container">
                        <ul class="nav nav-tabs">
                        	<li id="one-sample" class="active">
                                <a  id="one-sample-toggle" href="#1" data-toggle="tab">One Sample</a>
                        	</li>
                        	<li id="two-sample">
                                <a id="two-sample-toggle" href="#2" data-toggle="tab">Two Samples</a>
                        	</li>
                        </ul>
                            <div class="tab-content ">
                                <div class="tab-pane active" id="1">
                                    <!-- PANEL ONE -->
                                    <select id="select-sample" name="samples" class="selectpicker">
                                        <!--
                                            Will have to create a function that queries the database and
                                            returns all the available samples for the 'selected' experiment, and then
                                            fills this select section with the different <options>. For now, I will
                                            work only with X1,X2 and Xin from the DGE experiment
                                        -->
                                        <option class="empty" value="" selected disabled>Select samples</option>
                                        <option class="sample-warning" value="" disabled>Please, select an Experiment</option>
                                        {% for experiment, samples in experiments.samples.items %}
                                            {% for sample in samples %}
                                                <option value="{{ sample }}" class="sample-option {{ experiment }}">{{ sample }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>

                                    <br><br>
                                    <h4>Select Colors</h4>
                                    <hr>
                                    <div class="color-picker-container">
                                        <div class="row control-row">
                                            <div class="col-sm-3 pick-color">
                                                <div class="pick-color-group group-selected default-1">
                                                    <div class="pick-color-select-blue pick-color-select-tocolor">&nbsp</div>
                                                    <div class="pick-color-select-bluestart pick-color-select-fromcolor">&nbsp</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pick-color">
                                                <div class="pick-color-group">
                                                    <div class="pick-color-select-purple pick-color-select-tocolor">&nbsp</div>
                                                    <div class="pick-color-select-purplestart pick-color-select-fromcolor">&nbsp</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pick-color">
                                                <div class="pick-color-group">
                                                    <div class="pick-color-select-green pick-color-select-tocolor">&nbsp</div>
                                                    <div class="pick-color-select-greenstart pick-color-select-fromcolor">&nbsp</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pick-color">
                                                <div class="pick-color-group">
                                                    <div class="pick-color-select-red pick-color-select-tocolor">&nbsp</div>
                                                    <div class="pick-color-select-redstart pick-color-select-fromcolor">&nbsp</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="2">
                                    <!-- PANEL TWO -->
                                    <select id="select-sample1" name="samples" class="selectpicker">
                                        <option value="" selected disabled>Select samples</option>
                                        <option class="sample-warning" value="" disabled>Please, select an Experiment</option>
                                        {% for experiment, samples in experiments.samples.items %}
                                            {% for sample in samples %}
                                                <option value="{{ sample }}" class="sample-option {{ experiment }} ">{{ sample }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>

                                    <select id="select-sample2" name="samples" class="selectpicker">
                                        <option value="" selected disabled>Select samples</option>
                                        <option class="sample-warning" value="" disabled>Please, select an Experiment</option>
                                        {% for experiment, samples in experiments.samples.items %}
                                            {% for sample in samples %}
                                                <option value="{{ sample }}" class="sample-option {{ experiment }} ">{{ sample }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>

                                    <br><br>
                                    <h4>Select Colors</h4>
                                    <hr>
                                    <div class="color-picker-container">
                                        <div class="row control-row">
                                            <div class="col-sm-3 pick-color">
                                                <div class="pick-color-group group-selected default-2">
                                                    <div class="pick-color-select-green pick-color-select-tocolor">&nbsp</div>
                                                    <div class="pick-color-select-white">&nbsp</div>
                                                    <div class="pick-color-select-red pick-color-select-fromcolor">&nbsp</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pick-color">
                                                <div class="pick-color-group group-selected">
                                                    <div class="pick-color-select-blue pick-color-select-tocolor">&nbsp</div>
                                                    <div class="pick-color-select-white">&nbsp</div>
                                                    <div class="pick-color-select-red pick-color-select-fromcolor">&nbsp</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pick-color">
                                                <div class="pick-color-group group-selected">
                                                    <div class="pick-color-select-green pick-color-select-tocolor">&nbsp</div>
                                                    <div class="pick-color-select-white">&nbsp</div>
                                                    <div class="pick-color-select-blue pick-color-select-fromcolor">&nbsp</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pick-color">
                                                <div class="pick-color-group group-selected">
                                                    <div class="pick-color-select-blue pick-color-select-tocolor">&nbsp</div>
                                                    <div class="pick-color-select-white">&nbsp</div>
                                                    <div class="pick-color-select-yellow pick-color-select-fromcolor">&nbsp</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div id="map-expression-dialog-send">
                    <div id="map-expression-error" class="panel panel-danger">
                        <div class="panel-heading">
                            Error
                        </div>
                        <div class="panel-body" id="map-expression-error-msg">
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-default map-expression-btn" id="map-expression-btn-cancel">
                        Cancel
                    </button>
                    <button class="btn btn-success map-expression-btn" id="map-expression-btn-submit">
                        OK
                    </button>
                </div>
            </div>
            </div>






        <!-- CYTOSCAPE CONTROLS -->
        <div id="cyt-controls">
            <div id="cyt-controls-header">


                <div class="back-div">
                    <a href="{% url index_view %}" class="info-tooltip"
                    title="Back to PlanNET"><span class="glyphicon glyphicon-home"></span></a>
                    <hr>
                    <a target="_blank" href="{% url tutorial %}#netexplorer" class="info-tooltip"
                    title="Go to Tutorial"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
                <img class="app-icon-inside" id="cyt-explorer-icon" src="{% static 'Images/network-icon.png' %}"/>
                <div class="app-title"><h2 id="netexplorer-title">Net Explorer</h2></div>

                <!-- Add Node Form-->
                <div id="add-node-container">
                    <form id="add_node" class= "form" method="GET" action="{% url net_explorer %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control netexplorer-form" name="genesymbol" placeholder="Enter Symbol">

                            <select name="database" class="selectpicker" data-width="100%">
                                <option value="" selected disabled>Select Database</option>
                                {% for db in databases %}
                                    <option value="{{ db }}">{{ db }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <!--
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <label>
                                        <input type="radio" class="netexplorer-form-type" name="type" value="node" checked>Nodes
                                    </label>
                                </div>
                                <div class="funkyradio-success">
                                    <label>
                                        <input type="radio" class="netexplorer-form-type" name="type" value="pathway">Pathway
                                    </label>
                                </div>
                            </div>
                            -->
                            <div class="funkyradio">
                                <a class="info-tooltip" title="
                                    Search protein/contigs using protein symbols, contig IDs, GO codes or PFAM accessions.
                                ">
                                    <div class="funkyradio-success">
                                        <input  id="nodes-type" type="radio" class="netexplorer-form-type" name="type" value="node" checked/>
                                        <label for="nodes-type">Nodes</label>
                                    </div>
                                </a>
                                <a class="info-tooltip" title="
                                    Search KEGG pathways using KEGG pathway identifiers, eg.: hsa04930.
                                ">
                                    <div class="funkyradio-success">

                                        <input id="pathway-type" type="radio" class="netexplorer-form-type" name="type" value="pathway"/>
                                        <label for="pathway-type">Pahtway</label>
                                    </div>
                                </a>

                            </div>
                            <br>
                            <button type="submit" value=" Send" class="btn btn-success" id="submit_add_node" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="node-not-found"><div class="panel panel-danger"><div class="panel-heading node-not-found-err"> </div></div></div>
            <hr>
        <div id="layout-homologs-container">
            <!-- Layout Selection-->
            <div class="dropdown" id="select-layout-container">
                <div class="row control-row">
                    <div class="col-sm-6" id="layout-title">
                        <h3>Layout</h3>
                    </div>
                    <div class="col-sm-6" id="layout-dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="layout-toggle-btn">Cose
                            <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu" id="select-layout">
                                <li><a href="#">Cose</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Grid</a></li>
                                <li><a href="#">Cola</a></li>
                                <li><a href="#">Circle</a></li>
                                <li><a href="#">Dagre</a></li>
                                <li><a href="#">Random</a></li>
                            </ul>
                    </div>
                </div>
            </div>

            <!-- SHOW HOMOLOGS -->
            <div class="row control-row">
                <div class="col-sm-6" id="show-homologs-container-title">
                    <h3>Homologs</h3>
                </div>
                <div class="col-sm-6" id="show-homologs-toggle">
                    <label class="switch-light switch-candy show-homologs-label" onclick="">
                        <input type="checkbox" id="show-homologs">
                        <span class="show-homolog-btn">
                            <span class="show-homolog-btn">Off</span>
                            <span class="show-homolog-btn">On</span>
                            <a></a>
                        </span>
                    </label>
                </div>
            </div>
            <hr>
        </div>

        <!-- SHOW CONNECTIONS -->
        <div id="showconnections-container">
            <button id="show_connections" class="btn btn-default btn-netexplorer">
                Show Connections
            </button> <a class="info-tooltip" title="
                This button will show all the interactions between the nodes displayed on the screen.
            "><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
            <br><br>
            <!-- REMOVE UNCONNECTED  -->
            <button id="remove-unconnected" class="btn btn-default btn-netexplorer">
                Remove unconnected
            </button> <a class="info-tooltip" title="
                This button will remove all the nodes without a visible interaction (homology relationships included).
            "><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
            <div id="dialog-unconnected" title="Delete Unconnected nodes?">
                <p>
                    <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
                    All the nodes without a visible interaction will be removed. Are you sure you want to delete these nodes?
                </p>
            </div>
            <hr>

        </div>

        <!-- Filter interactions -->
        <div id="slider-container">
            <h3>Filter interactions <a class="info-tooltip" data-toggle="tooltip" data-placement="bottom" title="
                With this slider you can filter the interactions depending on the probability. This probability is the proportion of votes reported by a Random Forest classifier, see: 'link to article'
                "><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
            </h3>
            <h5>by confidence</h5>
            <div class="slider-symbol-minus">-</div>
            <div id="slider">
                <input
                    type="text"
                    class="span2"
                    id="sl1"
                    data-slider-value="0.6"
                    data-slider-min="0.6"
                    data-slider-max="0.95"
                    data-slider-step="0.05"
                    data-slider-selection="after"
                >
            </div>
            <div class="slider-symbol-plus">+</div>

            <br>
            <div class="plen-container">
                <h3>Non-Human interactions</h3>
                <fieldset id="show-plen">
                    <div class="switch-toggle switch-candy show-plen-label">
                        <input id="hide" name="show-plen" type="radio" value="hide">
                        <label class="show-plen-label" for="hide" onclick="">Hide</label>

                        <input id="show" name="show-plen" type="radio" value="show" checked>
                        <label class="show-plen-label" for="show" onclick="">Show</label>
                        <a></a>
                    </div>
                </fieldset>
                <!--
                <div class="switch-light switch-candy show-plen-label" onclick="">
                    <input id="hide-plen" name="show-plen" type="radio">
                    <label for="hide-plen" onclick="">Hide</label>
                    <input id="show-plen" name="show-plen" type="radio">
                    <label for="show-plen" onclick="">Show</label>
                    <a></a>
                </div>
            -->
            </div>
            <hr>
        </div>


            <!--- "On click" Behaviour -->
            <div id="on-click-container">
                <h3>On Click <a  class="info-tooltip"
                title="
                    This option will determine what happens when you click on a node.
                    <ul>
                        <li>Card: An information card for the node will appear.</li>
                        <li>Expand: All the elements interacting with the node will be added to the graph.</li>
                        <li>Delete: The node and all its interactions will be removed from the graph.</li>
                    </ul>
                "><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h3>

                <fieldset>
                    <div class="switch-toggle switch-candy behaviour-div">
                        <form action="" id="behaviour-form">
                            <input id="radio-card" name="behaviour" type="radio" value="card" checked>
                            <label class="behaviour-btn" for="radio-card" onclick="">Card</label>
                            <input id="radio-expand" value="expand" name="behaviour" type="radio">
                            <label class="behaviour-btn" for="radio-expand" onclick="">Expand</label>
                            <input id="radio-delete" value="delete" name="behaviour" type="radio">
                            <label class="behaviour-btn" for="radio-delete" onclick="">Delete</label>
                            <a></a>
                        </form>
                    </div>
                </fieldset>

                <!--<input
                    class="click-behaviour"
                    checked type="checkbox"
                    data-toggle="toggle"
                    data-on="Show card"
                    data-off="Expand"
                    data-onstyle="info"
                    data-offstyle="success"
                > -->
                <hr>
            </div>

            <div id="expression-container">
                <h3>Show Expression Data <a class="info-tooltip" title="
                    Select an expression data experiment to show the expression projected over the graph.
                    "><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                </h3>
                <button class="btn btn-default btn-netexplorer" id="map-expression-btn">Map Expression</button>
                <hr>

            </div>

            <!-- Change labels
            <div id="change-labels-container">
                <h3>Labels</h3>
                <input
                    id="change-label-id"
                    checked
                    type="checkbox"
                    data-on="Contigs"
                    data-off="Homologs"
                    data-onstyle="success"
                    data-offstyle="info"
                 >
                 <hr>
            </div> -->

            <div id="controls-container">

                <h3>Controls</h3>

                <div id="cyto-button-container">
                    <div class="row">
                        <!--- Center to graph -->
                        <div id="center-to-graph-container" class="col-md-3">
                            <button class="btn btn-default" id="center-to-graph" type="button">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </button>
                            <h5>Center</h5>
                        </div>

                        <!--- Save Image -->
                        <div id="save-image-container" class="col-md-3">
                            <a href="#" id="save-image-link" download="graph-export-img">
                                <button class="btn btn-default" id="save-image" type="button">
                                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                </button>
                            </a>
                            <h5>Save Image</h5>
                        </div>

                        <!--- Export TBL -->
                        <div id="export-tbl-container" class="col-md-3">
                            <button class="btn btn-default" id="export-tbl" type="button">
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            </button>
                            </a>
                                <h5>Export as TBL</h5>
                        </div>

                    </div>




                    <div class="row">
                        <div id="save-graph-container" class="col-md-3 ">
                            <a download="graph-export.json" id="graph-download" title="Save graph">
                                <button class="btn btn-default" id="save-graph" type="button">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                </button>
                            </a>
                            <h5>Save Graph</h5>

                        </div>

                        <div id="upload-graph-container" class="col-md-3 cyto-button-ind">
                            <form enctype="multipart/form-data" method="post" id="upload-graph-form" action="{% url net_explorer %}">
                                {% csrf_token %}
                                <label for="myfile" class="btn btn-default"><span class="glyphicon glyphicon-open" aria-hidden="true"></span></label>
                                <input type="file" onchange="this.form.submit()" name="myfile" id="myfile" class="upload" style="box-sizing:border-box;">
                            </form>
                            <h5>Upload Graph</h5>

                        </div>

                        <!--- Delete all -->
                        <div id="delete-all-container" class="col-md-3">
                            <button class="btn btn-default" id="delete-all" type="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <h5>Delete All</h5>
                            <div id="dialog-confirm" title="Delete Graph?">
                                <p>
                                    <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
                                    The graph will be permanently removed, are you sure you want to delete the graph?
                                </p>
                            </div>

                        </div>
                    </div>


                </div>
            </div> <!--cyt-controls-->

            <div id="dialog-delete-node" title="Delete Node?">
                <p>
                    <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
                    The node will be permanently removed, are you sure?
                </p>
            </div>

            <div id="dialog-expand-node" title="Expand Node?">
                <p>
                    <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
                    This node has <span id="expand-node-degree"><strong>many</strong></span> interactions, it may affect the performance of the application.
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Are you sure you want to do it?
                </p>
            </div>

        <!-- Get info Card on click -->
        <!-- Gene Card -->
        <div id="button-container">
            <div class="close-overlay" title="Close card">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <div class="full-screen-card" title="Open in new window">
                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </div>
        </div>
        <div class="card-overlay" id="card-overlay"></div>


        <!-- SCRIPTS -->
        <script src="{% static 'js/jquery-min.js' %}"></script>
        <script src="{% static 'js/cytoscape.js' %}"></script>
        <script src="{% static 'js/netexplorer-cytoscape-definition.js' %}"></script>
        <script src="{% static 'js/netexplorer-countnodes.js' %}"></script>
        <script src="{% static 'js/netexplorer-showhomologs.js' %}"></script>
        <script src="{% static 'js/get-card.js' %}"></script>
        <script src="{% static 'js/netexplorer-addnode.js' %}"></script>
        <script src="{% static 'js/netexplorer-cytoscape.js' %}"></script>
        <script src="{% static 'js/netexplorer-showconnections.js' %}"></script>
        <script src="{% static 'js/jquery_cookie.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui-all.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <!--<script>$('[data-toggle="tooltip"]').tooltip();</script>-->
        <script src="{% static 'js/cytoscape-panzoom.js' %}"></script>
        <script src="{% static 'js/card-overlay.js' %}"></script>
        <script src="{% static 'js/bootstrap-slider.js' %}"></script>
        <script src="{% static 'js/dagre.js' %}"></script>
        <script src="{% static 'js/cytoscape-dagre.js' %}"></script>
        <script src="{% static 'js/cytoscape-cola.js' %}"></script>
        <script src="{% static 'js/cytoscape-cola-min.js' %}"></script>
        <script src="{% static 'js/FileSaver.js' %}"></script>
        <script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
        <script src="{% static 'js/select-expression.js' %}"></script>

        <script>
            $( function() {
                $( ".info-tooltip" ).tooltip({
                    track: true,
                    content: function(){
                        return $(this).attr("title");
                    }
                });
            } );
        </script>

        <script>
        // Initialize slider to filter edges. Function to filter them is in cyto-netexplorer.js
            $('#sl1').slider();
            var RGBChange = function() {
                $('#RGB').css('background', 'rgb('+r.getValue()+','+g.getValue()+','+b.getValue()+')')
            };

            var r = $('#R').slider()
                    .on('slide', RGBChange)
                    .data('slider');
                    var g = $('#G').slider()
                    .on('slide', RGBChange)
                    .data('slider');
                    var b = $('#B').slider()
                    .on('slide', RGBChange)
                    .data('slider');

        </script>





    </body>


</html>
