{% load static %}
{% load staticfiles %}


<html>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/toggle-switch.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

    <head>
        <title>PlaNet - Pathway Finder</title>
    </head>
    <body>

        <!-- RESULTS -->
        <div id="pfind-results">
            <!-- CARD DIV -->
            <div id="button-container">
                <div class="close-overlay" title="Close card">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
                <div class="full-screen-card" title="Open in new window">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </div>
            </div>
            <div class="card-overlay" id="card-overlay"></div>

            <!-- PATHWAY RESULTS -->
            {% if pathways %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2> Results</h2>
                </div>
                <div class="panel-body">
                    <h4>Search parameters:</h4>
                    <div id="search-param-pathway">
                        <img class="pfind-form-icon" src="{% static 'Images/starting-node-icon.png' %}"/> Starting Node: <br>
                        <img class="pfind-form-icon" src="{% static 'Images/ending-node-icon.png' %}"/> Final Node: <br>
                        <img class="pfind-form-icon" src="{% static 'Images/check.png' %}"/> Including: <br>
                        <img class="pfind-form-icon" src="{% static 'Images/uncheck.png' %}"/> Excluding: <br>
                    </div>
                    <h4>Number of Pathways: {{ numpath }}</h4>
                    <h4>Path Length:</h4>
                </div>
            </div>

                {% for path in pathways %}
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <h3>Pathway #{{ path }} <a class="netexplorer-mini-ref" href="#"><img class="netexplorer-mini" src="{% static 'Images/netexplorer-mini.png' %}"/> View on NetExplorer</a></h3>
                    </div>
                    <div class="panel-body">
                        <div id="pathway{{ path }}" class="pathway-container"></div>
                    </div>
                </div>



                {% endfor %}
            {% endif %}
        </div>



        <!-- FORM -->
        <div id="pfind-form">
            <div id="pfind-form-header">
                <img src="{% static 'Images/pathway-icon.png' %}" class="app-icon-inside"/>
                <h2>Pathway Finder</h2>
                <a href="/">Back to PlaNet</a>
            </div>
            <hr>

            <!-- FORM -->
            <form method="GET" action="{% url path_finder %}">

                <!-- Select Database -->
                <select name="database" class="selectpicker" title="Select Database">
                    <option value="Cthulhu">Cthulhu</option>
                    <option value="Consolidated">Consolidated</option>
                    <option value="Human">Human</option>
                </select>


                <!-- START -->
                <div class="panel panel-warning pfind-form-element">
                    <div class="panel-heading pfind-input-header">
                        <img class="pfind-form-icon" src="{% static 'Images/starting-node-icon.png' %}"/> Starting Node
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" name="start" placeholder="Enter Symbol">
                    </div>
                </div>

                <!-- END -->
                <div class="panel panel-warning pfind-form-element">
                    <div class="panel-heading pfind-input-header">
                        <img class="pfind-form-icon" src="{% static 'Images/ending-node-icon.png' %}"/> Final Node
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" name="end" placeholder="Enter Symbol">
                    </div>
                </div>

                <!-- INCLUDING -->
                <div class="panel panel-warning pfind-form-element">
                    <div class="panel-heading pfind-input-header">
                        <img class="pfind-form-icon" src="{% static 'Images/check.png' %}"/> Including
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" name="including" placeholder="Enter Symbol(s), separated by commas">
                    </div>
                </div>

                <!-- EXCLUDING -->
                <div class="panel panel-warning pfind-form-element">
                    <div class="panel-heading pfind-input-header">
                        <img class="pfind-form-icon" src="{% static 'Images/uncheck.png' %}"/> Excluding
                    </div>
                    <div class="panel-body">
                            <input type="text" class="form-control" name="excluding" placeholder="Enter Symbol(s), separated by commas">
                    </div>
                </div>

                <br>
                <br>
                <button id="pfind-btn" type="submit" class="btn btn-warning">Find</button>
            </form>



        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'js/overlay.js' %}"></script>
        <script src="{% static 'js/cytoscape.js' %}"></script>
        <script src="{% static 'js/cyto-stylesheet-pathway.js' %}"></script>
        <script src="{% static 'js/getCard.js' %}"></script>
        <script src="{% static 'js/cyto-pathway.js' %}"></script>
        {% if pathways %}
            {% for key, value in pathways.items %}
                <script>
                    $(document).ready(function(){
                        var cy = cytoscape({
                            style: stylesheet,
                            layout: { name: 'preset' },
                            container: document.getElementById('pathway{{ key }}'),
                            ready: function() {}
                        });
                        var elements = {{ value|safe }};
                        cy.load(elements)
                        cy.layout({
                            name: 'grid',
                            maxSimulationTime: 3000,
                            fit: true,
                            directed: false,
                            padding: 40
                        });

                        // Behaviour when clicking on node: will display card
                        cy.on( 'click', 'node', function() {
                            node = this;
                            var card_data = {
                                target  : this.data("name"),
                                targetDB: this.data("database"),
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            };
                            getCard(card_data);
                        });
                    });
                </script>
            {% endfor %}
        {% endif %}
    </body>

</html>
