{% extends 'NetExplorer/base.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}- PlanExp{% endblock title %}



{% block content %}
    <div class="panel panel-planexp">
        <div class="panel-heading">
            <div class="row row-eq-height">
                <div class="col-sm-1 blast-icon-container">
                    <img class="blast-icon-inside" src="{% static 'Images/planexp-icon-transparent.png' %}"/>
                </div>
                <div class="col-sm-11 blast-title">
                    <h1>PlanExp</h1>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <!-- Select experiment card -->
            <div class="planexp-card">
                <div class="planexp-h1">Select Experiment:<hr class="planexp-rule"></div>
                <form class= "form-inline" method="GET" action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        <select id="select-experiment" name="experiment" class="selectpicker" title="Select Experiment">
                            <option value="" disabled selected>Select experiment</option>
                            {% for exp in experiments %}
                                <option value="{{ exp.name }}">{{ exp.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div><!-- Select experiment card -->

            <!-- Summary card -->
            <div id="planexp-summary" class="planexp-card">
                

            </div>


        </div> <!-- Planexp panel body div -->
    </div><!-- Planexp panel div -->
    

{% endblock content %}



{% block scripts %}
    <script src="{% static 'js/planexp.js' %}"></script>
{% endblock scripts%}
