{% load staticfiles %} 

{% if links %}
    <table id="planexp-links-table" class="table table-hover">
        <thead>
            <tr>
                <th colspan="3" class="planexp-links-table-group">Regulator</th>
                <th colspan="3" class="planexp-links-table-group">Target</th>
                <th colspan="2" class="planexp-links-table-group">Interaction</th>
            </tr>
            <tr>
                <th>Regulator id</th>
                <th>Regulator gene</th>
                <th class="planexp-links-table-limit">Regulator homolog</th>
                <th>Target id</th>
                <th>Target gene</th>
                <th class="planexp-links-table-limit">Target homolog</th>
                <th>Score</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                <tr>
                        
                    <td>
                        <a class="card-trigger"
                            title="Click to view info card"
                            target="{{ link.regulator }}"
                            targetDB="{{ database.name }}">
                            {{ link.regulator }}
                        </a>
                    </td>
                    {% if link.regulator_gene %}
                        <td>
                            <a class="card-trigger"
                                title="Click to view info card"
                                target="{{ link.regulator_gene }}"
                                targetDB="Smesgene">
                                {{ link.regulator_gene }} {% if link.regulator_name %} ({{ link.regulator_name }}) {% endif %}
                            </a>
                        </td>
                    {% else %}
                        <td>None</td>
                    {% endif %}

                    {% if link.regulator_homolog %}
                        <td class="planexp-links-table-limit">
                            <a class="card-trigger"
                                title="Click to view info card"
                                target="{{ link.regulator_homolog }}"
                                targetDB="Human">
                                {{ link.regulator_homolog }} 
                            </a>
                        </td>
                    {% else %}
                        <td class="planexp-links-table-limit">None</td>
                    {% endif %}
                    
                    <td>
                            <a class="card-trigger"
                                title="Click to view info card"
                                target="{{ link.target }}"
                                targetDB="{{ database.name }}">
                                {{ link.target }}
                            </a>
                    </td>

                    {% if link.target_gene %}
                        <td>
                            <a class="card-trigger"
                                title="Click to view info card"
                                target="{{ link.target_gene }}"
                                targetDB="Smesgene">
                                {{ link.target_gene }} {% if link.target_name %} ({{ link.target_name }}) {% endif %}
                            </a>
                        </td>
                    {% else %}
                        <td>None</td>
                    {% endif %}

                    {% if link.target_homolog %}
                        <td class="planexp-links-table-limit">
                            <a class="card-trigger"
                                title="Click to view info card"
                                target="{{ link.target_homolog }}"
                                targetDB="Human">
                                {{ link.target_homolog }} 
                            </a>
                        </td>
                    {% else %}
                        <td class="planexp-links-table-limit">None</td>
                    {% endif %}
                    
                    <td>{{ link.score|floatformat:3  }}</td>
                    <td>{{ link.source }}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>

    <script src="{% static 'js/root.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#planexp-links-table").DataTable({
                "order": [[ 6, "desc" ]],
                dom: 'Bfrtip',
                buttons: [
                    'csv',
                    {
                        text: 'Send to Network viewer',
                        action: function ( e, dt, node, config ) {
                            sendToNetwork(dt);
                        }
                    }
                ]
            });
        });
    </script>

{% else %}
   
{% endif %}