
/* BASE HTML */
/* ----------------------------- */
/* BASE CONTAINERS */

body { font-size: 12px; }
#page-container {
    position: absolute;
    background-color: #E7E7E7;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    display:block;
    overflow:auto;
}

#content {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    min-height: 80%;
    padding-bottom: 6%;
}

#content-fullscreen {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: auto;
    min-height: 100%;
    padding-bottom: 12%;
}

h1, h2, h3, h4, h5, h6 {
    color: #777777;
}

#body-wrapper {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: #777777;
}

/* SOME FOOTER THINGS */
#compgen-logo {
    width: 100px;
    margin-right: 20px;
}

.company-logo {
    width: 50%;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    opacity: 0.70;
}

.bg-official {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #c45ca2;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
}


.bg-official-light {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #c45ca2;
    font-size: 18px;
    font-weight: bolder;
}

.bg-official-small {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #c45ca2;
    font-size: 12px;
    font-weight: bolder;
}

.bg-homolog {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #6785d0;
    font-weight: bolder;
}


.company-logo:hover {
    opacity: 1;
}

.company-logo-container-parent {
    text-align: center;
    border-left: 2px solid #ebebeb;
    padding: 1%;
    display: inline-flex;
}

.company-logo-container {
    margin: auto 5px;
    margin-top: 25px;
}


@media only screen and (max-width: 870px) {
    .company-logo-container-parent {
        display: none;
    }

    #logoheader {
        height: 120px !important;
    }

}

.social-icon {
    background-color: #2E3033;
    width: 35px;
    height: 35px;
}

.social-icon:hover {
    opacity: 0.7;
}

/* LOGO AND HEADER */
#logo-container {
    margin-left: 5%;
    margin-top: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
}

#logoheader {
    height: 166px;
    margin-top: 1%;
}

#logoheader:hover {
    opacity: 0.5;
}

.navbar {
    margin-top: 0 !important;
}


.navbar-plannet{ 
    background-color: white !important;
}


.navbar-plannet .navbar-nav>li>a {
    color: #AAA;
}
.navbar-plannet .navbar-nav>li.active>a {
    color: #444
}
.navbar-plannet { 
    border: 1px solid #EBEBEB !important;
    font-size: 16px;


}



/* PANELS */

#search-wrapper {
    margin-bottom: 2%;
    text-align: center;
}

.row-app {
    width: 100%;
    margin-bottom: 1%;
}

.app-container {
    text-align: center;
    float: left;
    height: 300px;
    width: 100%;
    background-color: #f4f4f4 !important;
    border: solid 0px !important;
}



.app-container .glyphicon-info-sign {
    font-size: 20px;
    cursor: pointer;
}

.app-btn:hover {
    background-color: #eee !important;
}
.app-btn:hover ~ .app-icon {
    opacity: 0.85;
}
.app-btn {
    border: solid 2px #EBEBEB;
    margin-bottom: 25px;
    background-color: white !important;
}

.app-btn:active {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.app-btn:focus {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.app-btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.app-icon {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 150;
}


.app-icon-inside {
    position: relative;
    margin-top: 4%;
    width: 150px;
    right: -30px;
}

.panel-blast {
    border-style: solid !important;
}

.panel-blast .panel-heading {
    background-color: #edd9f8 !important;
    border-color: #e7ccf6 !important;
}

.panel-planexp {
    border-style: solid !important;
}

.panel-planexp .panel-heading {
    background-color: #FDD4D4;
    border-color: #FDD4D4;
}

.btn-blast:hover {
    background-color: #9051b1;
    color: white !important;
}

.btn-blast {
    background-color: #a265c2;
    color: white;
}


/* GENE CARDS */
/* ----------------------------- */

.glyphicon-print {
    font-size: 30px;
}

.interactions-title {
    height: 100px;
}
.small-searchpanel {
    height: 10%;
    overflow: hidden;
    cursor: pointer;
    width: 70%;
    margin-top: 25px;
    margin-bottom: 25px !important;
    border-width: 4px !important;
    color:#31708f;
}

.small-searchpanel .panel-body { background-color: white; }
.tutorial-icon-link {
    color: #777777;
}

.molecular_function { background-color: #D5A0E4; padding: 4px; color:white; border-radius: 4px; }
.cellular_component { background-color: #9DB9E6; padding: 4px; color:white; border-radius: 4px; }
.biological_process { background-color: #D7A070; padding: 4px; color:white; border-radius: 4px; }

.tutorial-icon-link:hover {
    color: #777777;
    opacity: 0.8;
}

.database-small-searchpanel {
    float: right;
    position: relative;
}

.symbol-small-searchpanel {
    float: left;
    position: relative;
}

.small-searchpanel .panel-heading {
    min-height: 40px;
}

.genesearch-panel .panel-body {
    text-align: center;
}
#pfam-line-table {
    width: 100%;
    font-size: 12px;
    color: #777777;
}

.genesearch-minitutorial{
    text-align: left;
    display: inline-block;
}

#genesearch-genesymbol {
    width: 300px;
    height: 41px;
}

.genesearch-panel .btn { height: 41px;}

#select-experiment-div .btn { height: 41px;}
#genesearch-form {
    margin-top: 3%;
}

.pfam-line-table-tr {
    margin-top: 8px;
    height: 20px;
    width: 100%;
}

.genesearch-gototutorial {
    display: inline-block;
    width: 20%;
    min-width: 200px;
}

.genesearch-gototutorial-text {
    font-size: 16px;
    vertical-align: middle;
    line-height: 40px;
}


.pfam-line-table-tr:hover {
    background-color: #F7F7F7;
}

.pfam-line-table-td-line {
    height: 12px;
    width: 80%;
}

.pfam-line-table-td-name {
    height: 12px;
    width: 20%;
}

.small-searchpanel:hover {
    opacity: 0.8;
}

.big-searchpanel {
    height: auto;
    cursor: pointer;
    width: 70%;

}

.view-on-netexplorer {
    margin-bottom: 0;
    height: 100%;
}

.view-on-netexplorer-btn {
    position: absolute;
    bottom: 12;
}


/* OVERLAY THINGS */
.card-overlay {
    display: none;
    height: 90%;
    width: 54%;
    position: fixed;
    text-align: left;
    top: 30px;
    right: 28%;
    z-index: 80;
    background: white;
    padding-left: 80px;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    overflow: scroll;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
    color: #777777;
    font-size: 12px;
}

.card-overlay h1 { font-size: 20px; }
.card-overlay h2 { font-size: 18px; }
.card-overlay h3 { font-size: 16px; }

.close-overlay, #click {
    cursor:
    pointer;
}

#button-container {
    position: fixed;
    top: 30px;
    right: 28%;
    z-index: 100;
    background-color: #D9EDF7;
    -webkit-box-shadow: 10px 0px 27px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 0px 27px 0px rgba(0,0,0,0.15);
    box-shadow: 10px 0px 27px 0px rgba(0,0,0,0.15);
}

.close-overlay {
    display: inline-block;
    font-size:16px;
    font-weight: bold;
    padding:20px;
    color: black;
    float: left;
    top: 30px;
    float: left;
    cursor: pointer;
    z-index: 100;

}


.gene-ontology-div {
    overflow-y: scroll;
    height: 40%;
}

.full-screen-card {
    font-size:16px;
    font-weight: bold;
    padding:20px;
    color: black;
    top: 100px;
    clear:both;
    left: 18%;
    z-index: 100;
    cursor: pointer;
}

.full-screen-card-wrapper {
    width: 80%;
    margin-left: 10%;
}

.close-overlay:hover .glyphicon-remove:hover {
    color: #d1d1d1;
    opacity: 0.7;
}

.full-screen-card:hover .glyphicon-new-window:hover {
    color: #d1d1d1;
    opacity: 0.7;
}


.glyphicon-remove {
    color: #777777;
}

.glyphicon-new-window {
    color: #777777;
}

.glyphicon-remove:hover {
    opacity: 0.2;
    color: #A8A8A8;
}

.glyphicon-new-window:hover {
    opacity: 0.2;
    color: #A8A8A8;
}

.glyphicon-remove:active{
  color:black;
}

.card-title {
    text-align: center;
    background-color: #D9EDF7;
    width: 100%;
    height: 45px;
    display: table;
}

.card-subtitle {
    text-align: center;
    background-color: white;
    margin-left: 35%;
    width: 30%;
    height: 45px;
    display: table;
}

.card-subtitle a {
    color: #777777;
    font-style: normal;
}

.card-overlay .glyphicon-tag { font-size: 18px; color: #5bc0de }
.card-overlay h2 { margin-top: 40px; }
.h2-sep { border-color: #D9EDF7; border-width: 2px; margin-top: 0}

.card-subtitle h3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #777777
}

.card-title h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card-trigger {
    cursor: pointer;
}


.panel-body p {
    color: #777777;
}

.sequence-container {
    word-wrap: break-word;
    background-color: #F7F7F7;
    padding: 20px;
    overflow-y: scroll;
    max-height: 100px;
    max-width: 800px;
}

.download-fasta {
    width: 25px;
}

.download-fasta-wrapper:hover {
    opacity: 0.8;
}


.card-link {
    cursor: pointer;
}


/* BACK TO TOP THINGS */
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../Images/back_to_top.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}


.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 65px;
  }
}
/* END OF BACK TO TOP */




/* DATA TABLE */
.int-table-container {
    color: #777777;
    font-size: 12px;
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    overflow-x: scroll;
}

.domain-table {
    font-size: 12px;
    width: 100%;
    color: #777777;
}

.domain-table td {
    padding-left: 1%;
}

.int-table-class {
    font-size: 10px;
    color: #777777;
}

.int-table-class td { font-size: 12px; }

.dataTables_filter label {
    color: #777777;
    font-weight: bold;
}

.dataTables_length label {
    color: #777777;
    font-weight: bold;
}


.gene_logo {
    display: inline-block;
    width: 60px;
    height: 30px;
    float: left;
}

.gene_logo:hover {
    opacity: 0.7;
}

.homology-table {
    font-size: 12px;
    color: #777777;
}

.homology-table-header {
    font-weight: bold;
    width: 30%;
}



/* NET EXPLORER CYTOSCAPE */
/* ----------------------------- */
#cyt {
    height: 100%;
    width: 75%;
    float: left;
}

@media only screen and (max-width: 1220px) {
    #cyt {
        width: 60%;
    }
    #cyt-controls {
        width: 40% !important;
    }
}

#loading {
    position: fixed;
    display: none;
    margin-top: 10px;
    right: 25%;
    width: 150px;
    z-index: 10000000000;
}

.loading-img {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 150px;
}

.loading-background {
    position: absolute;
    opacity: 0.65;
    top: 0;
    z-index: 1;
    width: 150px;
}

#cyt-controls {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 25%;
    min-width: 300px;
    float: left;
    text-align: center;
    border-width: 5px;
    background-color: #F8F8F8;
    border-color: #777777;
    color: #777777;
    border-width: 4px;
}


#cyt-explorer-icon {
    display: inline-block;
    margin-top: 15px;
}

#select-layout-container {
    display: block;
    text-align: left;
    position: relative;
}

#select-layout-container .row {
    height: 40px;
}

#select-layout-container h3 {
    display: inline-block;
    padding-right: 10%;
}

#on-click-container {
    top: 1%;
    position: relative;
    display: block;
}

#showconnections-container {
    top: 1%;
    bottom: 1%;
    position: relative;
    display: block;
}

#layout-homologs-container {
    top: 1%;
    position: relative;
    display: block;
    padding-left: 10%;
}

.netexplorer-form {
    width: 100%;
}

#controls-container {
    top: 2%;
    position: relative;
    margin: auto;
}

.btn-netexplorer {
    width: 180px;
}


#cyto-button-container {
    position: relative;
    margin-left: 24%;
    max-width: 70%;
    margin-top: 5%;
}

.cyto-button-ind {
    justify-content: center;
    align-items:center;
}
.glyphicon-trash {
    font-size: 26;
}

.glyphicon-save {
    font-size: 26;
}

.glyphicon-open {
    font-size: 26;
}

.glyphicon-share {
    font-size: 26;
}

.row-margin {
    margin-bottom: 5%;
    margin-left: 10%;
}


#slider-container {
    padding-top: 1%;
    text-align: center;
}

.plen-container {
    margin-top: 1%;
    text-align: center;
}

.glyphicon-picture {
    font-size: 26;
}

.glyphicon-fullscreen {
    font-size: 26;
}

.behaviour-div {
    width: 80%;
    left: 10%;
    font-weight: normal;
    cursor: pointer;
}

.behaviour-btn{
    cursor: pointer;
}

#slider {
    display:inline-block;
}

.slider-symbol-minus{
    display: inline-block;
    float: left;
    text-align: center;
    font-weight: bold;
    margin-left: 20%;
}
.slider-symbol-plus{
    display: inline-block;
    float: right;
    text-align: center;
    font-weight: bold;
    margin-right: 20%;
}

#change-labels-container {
    top: 1%;
    position: relative;
}


#add-node-container {
    width: 60%;
    margin-top: 5px;
    margin-left: 20%;
}

#submit_add_node {
    width: 80%;
    margin-top: 1%;
}

#add-node-container .glyphicon-plus {
    padding-right: 2%;
}

.glyphicon-info-sign {
    font-size: 15px;
    cursor: pointer;

}

.info-tooltip {
    color: #777777;
}

.info-tooltip:hover {
    color: #777777;
}


#map-expression-dialog {
    display: none;
    margin: 5%;
    width: 50%;
    height: 80%;
    z-index: 1000000000;
    position: fixed;
    background-color: white;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 2px;

}

#experiment-ref {
    display: none;
}

#map-expression-dialog-header {
    position: fixed;
    background-color: #E9E9E9;
    width: 49%;
    height: 40px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 40px;
    padding: 1%;
}

#map-expression-dialog-body {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 4%;
    padding: 1%;
    height: 95%;
    color: #777777;
    overflow-y: scroll;
    overflow-x: hidden;
}

#map-expression-dialog-send {
    display: inline-block;
    text-align: center;
    position: fixed;
    left: calc(55% - 360px);
    width: 350px;
    bottom: calc(5% + 80px);
    height: 80px;
    background-color: white;
}
}

#exTab2 {
    display: inline-block;
}

.map-expression-btn {
    width: 100px;
    margin-left: 20px;
}

#close-map-expression {
    float: right;
    cursor: pointer;
}

.tab-pane {
    margin-top: 2%;
}

.nav-tabs {
    width: 50%;
}

.slider-handle {
    background-color: green !important;
    background-image: linear-gradient(to bottom, #5CB85C, #2c682c);
}


.form-separator {
    height: 10px;
    border: 0;
    margin-top: 10%;
    margin-bottom: 0%;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


#cyt-controls-header {
    width: 100%;
    height: 320px;
}


input[type="file"] {
  display: block;
  width: 66px;
  height: 25px;
  clip: rect(0px 0px 0px 0px);
  position: absolute;
  left: 0;
  top: 0;
}

.btn-default label {
    width: 120%;
}


#dialog-confirm {
    display: none;
}

#dialog-delete-node {
    display: none;
}

#dialog-expand-node {
    display: none;
}

#dialog-unconnected {
    display: none;
}

#dialog-toomany {
    display: none;
}



#show-homologs-container {
    display: inline-block;
    width: 100%;
    position: relative;
}

#show-homologs-container-title {
    height: 50px;
}

.show-homologs-label {
    width: 60%;
    vertical-align: middle;
    cursor: pointer;
}

#show-homologs-toggle {
    display: inline-block;
    height: 50px;
    margin-top: 10px;
}

#layout-dropdown {
    display: inline-block;
    height: 100%;
}

.control-row {
    height: 6%;
}
#layout-title {
    height: 100%;
}

#layout-toggle-btn {
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
    width: 60%;
    display: block;
}

#cyt-controls hr { 
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-homologs-btn {
    height: 80% !important;
}



/* PATHWAY FINDER */
/* ----------------------------- */



#pfind-results {
    height: 100%;
    float: left;
    width: 75%;
    overflow-y: scroll;
}


/* FORM CONTROLS */
#pfind-form {
    position: absolute;
    height: 100%;
    width: 25%;
    min-width: 300px;
    text-align: center;
    background-color: #F8F8F8;
    right: 0;
}

#pfind-form-header {
    margin: 5%;
    text-align: center
}

.pfind-form-element {
    margin: 4%;
}

.pfind-input-header {
    text-align: left;
    min-height: 5%;
    padding:0;
    font-size: 15;
}

#pfind-btn {
    font-size: 40px;
    width: 50%;
    height: 8%;
    border-radius:20px;
}

#pfind-btn:hover {
    opacity: 0.7;
}
.pfind-form-icon {
    height: 40px;
    width: auto;
    margin-right: 2%;
    vertical-align: middle;
}

#pfind-results {
    padding: 4%;
}
.pathway-container {
    height: 20%;
    width: 98%;
    position: relative;
    border: solid 1px #cccccc;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.netexplorer-mini {
    width: 27px;
    height: 27px;
}

.netexplorer-mini-ref {
    font-size: 12;
}

#search-param-pathway {
    margin-left: 6%;
}

#pfind-btn {
    width: 200px;
    height: auto;
    border: 0;

}




.pfind-res-panel {
    color: #777777;
}


#pathway-filter-div {
    margin-left: 20%;
    width: 60%;
    margin-top: 6%;
    margin-bottom: 6%;
}

#pathway-filter-text {
    width: 80%;
}

.hidden {
        display: none;
}

.path-score {
    font-size: 16 !important;
}


.path-title {
    display: inline-block;
}

.path-controls{
    position: relative;
    float: right;
    margin-top: 1%;
}

/* ERROR 404 PAGE */
#error404 {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: #777777;
}

#img404 {
    margin-top: 5%;
    width: 20%;
}

/* ABOUT */
.about-title {
    color: #777777;
}

.about-title:hover {
    color: #777777;
    text-decoration: none;
}

.about-button-container {
    top: 30px !important;
}

.about-overlay-close {
    background-color: #F5F5F5;
}

.about-overlay {
    height: 90%;
    width: 54%;
    top: 30px;
    right: 28%;
}

.transcriptome-table-div {
    width: 100% !important;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.transcriptome-table {
    color: #777777;
    font-size: 12px;
}
.transcriptome-row .col-sm-5 { /* transcriptome table column */
    text-align: center;
}

@media only screen and (max-width: 780px) {
    .panel-transcriptome {
        max-height: 600px;
        padding-top: 50px;
    }

}

.img-bigger {
    width: auto;
    height: 100%;
}
.plot-btns {
    width: 300px;
    display: inline-block;
}

.plot-img {
    position: relative;
    width: auto;
    height: 100%;
    border: solid 1px;
    border-color:  rgba(0, 0, 0, .15);
    padding: 1%;
}

.plot-img-png {
    position: relative;
    height: 100%;
    width: 100%;
}

.view-interactome-plots:hover {
    cursor: pointer;
}

.plot-bigger:hover {
    opacity: 0.75;
    cursor: pointer;
}

.plot-viewer {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 320px;
}

.transcriptome-row .col-sm-7 {
    width: 100%;
    text-align: center;
}

.about-overlay-body {
    text-align: center;
    width: 100%;
    height: 100%;
}

.about-overlay-img-wrapper {
    height: 80%;
    width: 80%;
    display: inline-block;
}
.transcriptome-col {
    height: 400px !important;
    text-align: center;
}

.transcriptome-row {
    height: 100%;
}


/* TUTORIAL */
.tutorial-title {
    color: #777777;
}

#back_home {
    margin-top: 10%;
    margin-left: -24px;
}

.tutorial-title:hover {
    color: #777777;
    text-decoration: none;
}

#back_home .glyphicon-triangle-left {
    margin-right: 6px;
}

.table-of-contents {
    width: 150px;
    display: inline-block;
}

.tutorial-panel {
    width: 100%;
    display: inline-block;
}

.affix {
    top: 100px;
}

/* BLAST */
#query-textarea {
    width: 60% !important;
}

.icon-container {
    text-align: center;
}

.blast-icon-inside {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.blast-icon-container {
    vertical-align:middle;
}
.blast-title {
    vertical-align:middle;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.label-blast {
    background-color: #a265c2;
    color: white;
}

.error-msg {
    display: none;
}

.results-div {
    width: 100%;
    overflow-x: scroll;
}

#blast-results {
    font-size: 12px;
    color: #777777;
}


.ui-tooltip {
    z-index: 10000000 !important;
    white-space: initial !important;
    min-width:130px;
}

.pfam-line-tooltip {
    cursor: pointer;
}
.pfam-line-tooltip-subtitle {
    font-size: 12px;
    font-style: italic;
}

.pfam-line-tooltip:hover {
    cursor: pointer;
    opacity: 0.5;
}

.hom-table {
    font-size: 12px;
    color: #777777;
}

.transcripts-table {
    font-size: 12px;
    color: #777777;
}

.pfam-line-table-td-scale {
    margin-right: 0 !important;
}

.pfam-line-table-td-text {
    text-align: center;
    margin-right: 0 !important;
}

/* COLOR GRADIENT */
#color-gradient {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 10000;
}

#color-gradient-table {
    background-color: white;
    margin: 0 auto;
}

#gradient-title {
    text-align: center;
    color: #777777;
}

.subtitle {
    font-size: 10px;
    color: #777777;
}
.color-gradient-td-color {
    width: 25px;
    border: solid 1px #777777;
}

.color-gradient-td-color-empty {
    width: 25px;
    border: solid 1px white;
}


.color-picker-container {
    width: 50%;
    height: auto;
}

.pick-color {
    padding: 1%;
    text-align: center;
}



.pick-color-select-fromcolor {

}

.pick-color-select-tocolor {

}

.pick-color-select-bluestart {
    background-color: #f7f8ff;
    border: solid 1px #777777;
}

.pick-color-select-blue {
    background-color: #0029ff;
    border: solid 1px #777777;
}

.pick-color-select-yellow {
    background-color: #ffe600;
    border: solid 1px #777777;
}

.pick-color-select-redstart {
    background-color: #fffafa;
    border: solid 1px #777777;
}

.pick-color-select-red {
    background-color: #ff0000;
    border: solid 1px #777777;
}




.pick-color-select-greenstart {
    background-color: #f9fff9;
    border: solid 1px #777777;
}

.pick-color-select-green {
    background-color: #42d242;
    border: solid 1px #777777;
}


.pick-color-select-purplestart {
    background-color: #fffafd;
    border: solid 1px #777777;
}

.pick-color-select-purple {
    background-color: #dd1697;
    border: solid 1px #777777;
}

.pick-color-select-white {
    background-color: white;
    border: solid 1px #777777;
}

.pick-color-group {
    display: inline-block;
    opacity: 0.4;
    width: 40%;
}
.pick-color-group:hover {
    cursor: pointer;
    opacity: 0.8;
}

.pick-color-group.group-selected {
    opacity: 1;
    border: solid 2px #777777 !important;
}

.select-color {
    display: none;
}

.color-gradient-td {
    text-align: center;
    font-size: 12px;
    padding-left: 5px;
    color: #777777;
}
#legend-nodecount-wrapper {
    background-color: white;
    vertical-align: middle;
    height: 40px;
    margin-left: 10px;
    bottom: 10px;
    position: absolute;
    z-index: 100;
    min-width: 300px;
    max-width: 60%;
}


#legend {
    margin-left: 10px;
    height: 50px !important;
    width:  50px !important;
    z-index: 100;
}

#node-counter {
    margin-left: 25px;
    vertical-align: middle;
    line-height: 40px;
    color: #777777;
    font-size: 18px;
    height: 50px !important;
    z-index: 100;
}

.legend-tooltip {
    color: #404040;
}

.legend-tooltip:hover {
    color: #404040;
    opacity: 0.7;
}

.legend-icon {
    font-size: 40px;
}

.legend-db {
    width: 30px;
    height: auto;
}

.show-plen-label {
    display: inline-block;
    margin-left: 20%;
    width: 60%;
    cursor: pointer;
}

.show-plen-label:hover {
    cursor: pointer;
}


/* TUTORIAL */
.tutorial-subtitle-netexplorer {
    display: block;
    width: 400px;
    margin:0;
    padding:0;
    margin-bottom: 15px;
}

.tutorial-img {
    margin-bottom: 15px;
    max-width: 720px;
}

strong{
    font-weight: bold;
}

.tutorial-li {
  margin: 10px 0;
}

.tutorial-highlight-netexplorer {
    background-color: #5CB85C !important;
    color: white !important;
    font-weight: bold;
}

.tutorial-highlight-pathfinder {
    background-color: #EC971F !important;
    color: white !important;
    font-weight: bold;
}

.tutorial-highlight-genesearch {
    background-color: #DFEFF7 !important;
    color: #777777 !important;
    font-weight: bold;
}

.tutorial-highlight-button {
    background-color: white;
    font-weight: bold;
    color: #777777;
}

.glyphicon-question-sign {
    font-size: 20px;
    color: #777777;
}
.glyphicon-question-sign:hover {
    opacity: 0.7;
}

.glyphicon-home {
    font-size: 20px;
    color: #777777;
}

.tutorial-flag {
    height: 20px !important;
    width: auto;
    display: inline-block;
}
.glyphicon-home:hover {
    opacity: 0.7;
}

.back-div {
    padding: 8px;
    background-color: white;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    border-color: #cccccc;
    border-width: 1;
    border-style: solid;
    border-radius:4px;
}

kbd {
    text-align: center;
    height: 100px;
}

.app-title{
    color: #777777 !important;
}

.tutorial-float {
    float: right !important;
}

.tutorial-btn {
    display: inline-block;
    text-align: center;
    padding: 2px;
    font-family: monospace;
    font-size: 12px;
    border-color: #cccccc;
    border-width: 1;
    border-style: solid;
    border-radius:4px;
}


/* FUNKY RADIO */
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 60%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 1.5em;
  text-indent: 3.25em;
  margin-top: 0.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5CB85C;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/* LOGIN-REGISTRATION */
.form-div {
    width: 30%;
}


/* PAGINATION */
.example .pagination>li>a,
.example .pagination>li>span {
  border: 1px solid #f0ad4e;
}
.pagination>li.active>a {
  background: #f0ad4e;
  color: #fff;
}

#search-netexplorer {
  position: fixed;
  background-color: white;
  text-align: center;
  color: #777777;
  bottom: 10px;
  left: 30%;
  width: 30%;
  height: 45px;
  line-height: 45px;
  z-index: 10;

}

#genename-graph {
    height: 40px !important;
}

#search-netexplorer-btn {
    height: 40px !important;
    margin-top: -5px;
}

#removesearch {
    height: 40px !important;
    margin-top: -5px;
}

.user-in-controls {
    padding-right: 5px;
    text-align: right;
    right: 5px;
    margin-top: 5px;
}


.exp-name-gradient {
    color:  #777777;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.update-msg {
    margin-top: -4%;
    text-align: center;
}

.update-notes-ul li {
    margin-top: 10px;
}

.idtextarea {
    max-width: 600px;
}


/* PLANEXP */
.planexp-h1 {
    font-size: 22px;
}

.planexp-rule {
    border-width: 4px;
    border-color: #FDD4D4;
    margin-top: 8px;
}

.planexp-card {
    border: 4px solid #f4f4f4;
    padding: 22px;
}

#planexp-summary { display: none; }
#planexp-citation { width: 60%; min-height: 80px; margin-bottom: 10px; }
#planexp-description { min-height: 80px; }
#planexp-conditions  { min-height: 80px; }

#planexp-experiment-type { 
    display: inline-block;
    text-align: center;
    width: 120px;
    margin-left: 20px;
    padding: 8px;
    border-radius: 5px;
    background-color: #f4f4f4;
}

/*
#RNA-Seq { display: none; }
#Single-Cell { display: none; }
*/

.cond-type {
    display: inline-block;
    font-weight: bold;
    background-color:  #f4f4f4;
    width: auto;
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.cond-name {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}

#planexp-dge-table           { display: none; }
#planexp-dge-table-container { display: none; }

.planexp-condition-selects { text-align: center; }

#dge-table {
    color: #777777;
    font-size: 12px;
}

#select-dataset { display: none; }
#planexp-gene-expression { display: none; }
.gene-expression-search-container { width: 50%; }
#plot-container { 
    width: 100%; 
    margin-top: 50px;
    text-align: center; 
}
#expression-plot { 
    display: inline-block; 
    height: 500px; 
    min-width: 700px; 
    background-color: #f4f4f4; 
}

#tsne-plot {
    display: inline-block; 
    height: 500px; 
    min-width: 700px; 
    background-color: #f4f4f4; 
}

#volcano-plot {
    display: inline-block; 
    height: 500px; 
    min-width: 700px; 
    background-color: #f4f4f4; 
}

#plot-genenotfound { 
    display: none; 
    margin: auto;
    font-size: 18px;
    padding: 8px;
    width: 700px; 
    background-color: #FDD4D4;
}

#tsne-plot-genenotfound {
    display: none; 
    margin: auto;
    font-size: 18px;
    padding: 8px;
    width: 700px; 
    background-color: #FDD4D4;  
}

#dge-table-notfound {
    display: none; 
    margin: auto;
    font-size: 18px;
    padding: 8px;
    width: 700px; 
    background-color: #FDD4D4;  
}

#expression-plot-loading {
    display: none;
    position: absolute;
    z-index: 2;
    left: calc(50% - 75px);
    margin-top: 175px;
}

#tsne-plot-loading {
    display: none;
    position: absolute;
    z-index: 2;
    left: calc(50% - 75px);
    margin-top: 175px;
}

.planexp-loading-img {
    width: 150px;
}

.input-grp-withlabel {
    vertical-align: bottom !important;
}

#planexp-tsne { display: none; }


#planexp-tsne input[type=range]::-moz-range-track { 
    background: #E7E7E7;
}

#plot-tsne-btn    { width: 125px; }

#planexp-toc {
    padding: 8px;
    background-color: white;
    border: 4px solid #E7E7E7;
    width: 12%;
    min-width: 150px;
    min-height: 400px;
    z-index: 2;
}

#planexp-toc.affix-top {
    width: 100%;
}

#planexp-toc-container {
    z-index: 2;
    width: 12%;
    padding:0px;
    margin-top: calc(9% + 245px);
}

#logo-container .col-sm-8 {
    height: 195px;
}

#logo-container .col-sm-4 {
    height: 195px;
}

#planexp-network     { display: none; }
#planexp-network-toc { display: none; }
#planexp-cyt { background-color: #f4f4f4; width: 100%; height: 720px;}

#planexp-cyt-wrapper {
    position: relative;
}

#planexp-cyt-controls {
    position: absolute; 
    top: 25px;
    right: 25px;
}

.color-pick { display: inline-block; opacity: 0.5; margin-top: 10px; height: 60px; width: 30px; }
.color-pick:hover { opacity: 1; cursor: pointer; }

.gradient-blue {  background-image: linear-gradient(#1f77b4, white); }
.gradient-red {  background-image: linear-gradient(#d62728, white); }
.gradient-green {  background-image: linear-gradient(#2ca02c, white); }
.gradient-blue-to-red { background-image: linear-gradient(#d62728, white, #1f77b4) }
.gradient-yellow-to-blue { background-image: linear-gradient(#1f77b4, white, #e4a32d); }
.gradient-red-to-green { background-image: linear-gradient(#2ca02c, white, #d62728); }


.color-pick.active { border: solid 2px #777777; opacity: 1; }


#one-sample { text-align: center; }
#two-sample { text-align: center; }

#planexp-cyt-controls .nav-tabs { width: 100%; }

.planexp-cyt-btn { margin-right: 10px; width: 90px; }
.planexp-cyt-btn .glyphicon { color: #777777; font-size: 16px; }

#planexp-cyt-controls h3 { font-size: 16px; font-weight: bold; }
#planexp-cyt-controls h4 { font-size: 14px; }
#planexp-cyt-controls .btn { font-size: 12px; }

.minExp-container { text-align: center; }
#planexp-summary-toc { display: none; }
#planexp-dge-table-container-toc { display: none; }
#planexp-gene-expression-toc     { display: none; }
#planexp-tsne-toc { display: none; }

.planexp-toc-link {
    width: 100% !important;
}

.human-select { background-color: #6785d0 !important; padding: 6px 6px !important; }
.gene-select { background-color: #c45ca2 !important; padding: 6px 6px !important; }
.human-color {color: #6785d0; }
.jbrowser-subtitle { float:right; }

.panel-genesearch { background-color: #d9edf7 !important ; font-size: 12px;}

#kegg-funkyradio { margin-top: -10px; }

.cyt-controls-subtitle { font-size: 24px; }

summary:hover { cursor: pointer; opacity: 0.8; }

#edit-graph-dialog {
    display: none;
    width: 90%;
    height: 90%;
    z-index: 1000000000;
    position: fixed;
    background-color: white;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 2px;
    top: 10;
    left: 5%;
}

#edit-graph-dialog-header {
    position: fixed;
    background-color: #E9E9E9;
    width: 89%;
    height: 40px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 40px;
}

#close-edit-graph {
    float: right;
    cursor: pointer;
}

#close-edit-graph .glyphicon-remove {
    line-height: 40px;
    height: 40px;
    margin-right: 10px;
}

.edit-graph-title {
    line-height: 40px;
    height: 40px;
    margin-left: 10px;
    font-weight: bold;
}

#edit-graph-body {
    display: grid;
    height: 100%;
    grid-column-gap: 5px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px calc(100% - 50px);
}

#edit-graph-top-spacing {
    grid-column: 1 / span 2;
}

#cytoscape-editor {
    background-color: white;
    border: solid 1px grey;
}

#cytoscape-editor-controls {
    padding: 10px;
    padding-top: 50px;
}

.vertical-sep {
    display: inline-block;
    width: 24px; 
    height: 34px;
    border-right: solid 1px #adadad;
    margin-right: 24px;
}

#planexp-cyt-buttons {
    display: flex;
    align-items: center;
}

.center-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#editor-add-node-btn {
    display: block;
    margin-top: 4px;
    width: 150px;
}

.editor-interaction {
    width: 250px;
}

.switch-candy.editor-interaction a {
    background-color: #d9534f;
}



.editor-delete-node {
    width: 250px;
}

.switch-candy.editor-delete-node a {
    background-color: #d9534f;
}

.editor-delete-interaction {
    width: 250px;
}

.switch-candy.editor-delete-interaction a {
    background-color: #d9534f;
}

.editor-switch:hover {
    cursor: pointer;
}

.edgehandleCanvas {
    top: 50px !important;
}

#editor-done-btns {
    position: absolute;
    bottom: 25px;
    width: 30%;
}

#editor-cancel, #editor-save { width: 100px; }
.space { width: 20px; }

summary { display: list-item !important; }