
/* BASE HTML */
/* ----------------------------- */
/* BASE CONTAINERS */
#page-container {
    position: absolute;
    background-color: #E7E7E7;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    display:block;
    overflow:auto;
}

#content {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
    min-height: 80%;
    padding-bottom: 6%;
}

#content-fullscreen {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: auto;
    min-height: 100%;
    padding-bottom: 12%;
}

h1, h2, h3, h4, h5, h6 {
    color: #777777;
}

#body-wrapper {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: #777777;
}

/* SOME FOOTER THINGS */
#compgen-logo {
    width: 100px;
    margin-right: 20px;
}

.social-icon {
    width: 35px;
    height: 35px;
}

.social-icon:hover {
    opacity: 0.7;
}

/* LOGO AND HEADER */
#logo-container {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#logoheader {
    width: 400px;
    margin-top: 1%;
}

#logoheader:hover {
    opacity: 0.5;
}

/* PANELS */

#search-wrapper {
    margin-bottom: 2%;
    text-align: center;
}

.row-app {
    width: 100%;
    margin-bottom: 1%;
}

.app-container {
    text-align: center;
    float: left;
    height: 300;
    width: 100%;
}


.app-button {
    position:relative;
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    margin-left: 2%;
    width: 85px;
}

.app-icon {
    margin-top: 7%;
    margin-bottom: 5%;
    width: 180;
}

.app-icon-inside {
    margin-top: 4%;
    width: 180;
}

.panel-blast {
    border-color: #e7ccf6 !important;
    border-style: solid !important;
}

.panel-blast .panel-heading {
    background-color: #edd9f8 !important;
    border-color: #e7ccf6 !important;
}

.btn-blast:hover {
    background-color: #9051b1;
    color: white !important;
}

.btn-blast {
    background-color: #a265c2;
    color: white;
}


/* GENE CARDS */
/* ----------------------------- */

.glyphicon-print {
    font-size: 30px;
}

.interactions-title {
    height: 100px;
}
.small-searchpanel {
    height: 10%;
    overflow: hidden;
    cursor: pointer;
    width: 70%;
    margin: 5%;
}

.tutorial-icon-link {
    color: #777777;
}

.tutorial-icon-link:hover {
    color: #777777;
    opacity: 0.8;
}

.database-small-searchpanel {
    float: right;
    position: relative;
}

.symbol-small-searchpanel {
    float: left;
    position: relative;
}

.small-searchpanel .panel-heading {
    min-height: 40px;
}

.genesearch-panel .panel-body {
    text-align: center;
}
#pfam-line-table {
    width: 100%;
    font-size: 12px;
    color: #777777;
}

.genesearch-minitutorial{
    text-align: left;
    display: inline-block;
}

.pfam-line-table-tr {
    margin-top: 8px;
    height: 20px;
    width: 100%;
}

.genesearch-gototutorial {
    display: inline-block;
    width: 20%;
    min-width: 200px;
}

.genesearch-gototutorial-text {
    font-size: 16px;
    vertical-align: middle;
    line-height: 40px;
}


.pfam-line-table-tr:hover {
    background-color: #F7F7F7;
}

.pfam-line-table-td-line {
    height: 12px;
    width: 80%;
}

.pfam-line-table-td-name {
    height: 12px;
    width: 20%;
}

.small-searchpanel:hover {
    opacity: 0.8;
}

.big-searchpanel {
    height: auto;
    cursor: pointer;
    width: 70%;

}

.view-on-netexplorer {
    margin-bottom: 0;
    height: 100%;
}

.view-on-netexplorer-btn {
    position: absolute;
    bottom: 12;
}


/* OVERLAY THINGS */
.card-overlay {
    display: none;
    height: 90%;
    width: 64%;
    position: fixed;
    text-align: left;
    top: 30px;
    right: 18%;
    z-index: 80;
    background: white;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    overflow: scroll;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 180px 120px rgba(0,0,0,0.75);
    color: #777777;
}

.close-overlay, #click {
    cursor:
    pointer;
}

#button-container {
    position: fixed;
    top: 30px;
    right: 18%;
    z-index: 100;
    background-color: #D9EDF7;
    -webkit-box-shadow: 10px 0px 27px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 0px 27px 0px rgba(0,0,0,0.15);
    box-shadow: 10px 0px 27px 0px rgba(0,0,0,0.15);
}

.close-overlay {
    display: inline-block;
    font-size:16px;
    font-weight: bold;
    padding:20px;
    color: black;
    float: left;
    top: 30px;
    float: left;
    cursor: pointer;
    z-index: 100;

}


.gene-ontology-div {
    overflow-y: scroll;
    height: 20%;
}

.full-screen-card {
    font-size:16px;
    font-weight: bold;
    padding:20px;
    color: black;
    top: 100px;
    clear:both;
    left: 18%;
    z-index: 100;
    cursor: pointer;
}

.full-screen-card-wrapper {
    width: 80%;
    margin-left: 10%;
}

.close-overlay:hover .glyphicon-remove:hover {
    color: #d1d1d1;
    opacity: 0.7;
}

.full-screen-card:hover .glyphicon-new-window:hover {
    color: #d1d1d1;
    opacity: 0.7;
}


.glyphicon-remove {
    color: #777777;
}

.glyphicon-new-window {
    color: #777777;
}

.glyphicon-remove:hover {
    opacity: 0.2;
    color: #A8A8A8;
}

.glyphicon-new-window:hover {
    opacity: 0.2;
    color: #A8A8A8;
}

.glyphicon-remove:active{
  color:black;
}

.card-title {
    text-align: center;
    background-color: #D9EDF7;
    width: 100%;
    height: 8%;
    min-height: 65px;
    display: table;
}

.card-subtitle {
    text-align: center;
    background-color: #F7F7F7;
    margin-left: 35%;
    width: 30%;
    height: 6%;
    min-height: 65px;
    display: table;
}

.card-subtitle a {
    color: #777777;
    font-style: normal;
}

.card-subtitle h3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #777777
}

.card-title h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card-trigger {
    cursor: pointer;
}


.panel-body p {
    color: #777777;
}

.sequence-container {
    word-wrap: break-word;
    background-color: #F7F7F7;
    padding: 5%;
    overflow-y: scroll;
    max-height: 20%;
}

.download-fasta {
    width: 50px;
}

.download-fasta-wrapper:hover {
    opacity: 0.8;
}


.card-link {
    cursor: pointer;
}


/* BACK TO TOP THINGS */
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../Images/back_to_top.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}


.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 65px;
  }
}
/* END OF BACK TO TOP */


/* DATA TABLE */
.int-table-container {
    color: #777777;
    font-size: 12px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    overflow-x: scroll;
}

.domain-table {
    font-size: 12px;
    width: 100%;
    color: #777777;
}

.domain-table td {
    padding-left: 1%;
}

.int-table-class {
    font-size: 12px;
    color: #777777;
}

.dataTables_filter label {
    color: #777777;
    font-weight: bold;
}

.dataTables_length label {
    color: #777777;
    font-weight: bold;
}


.gene_logo {
    display: inline-block;
    width: 60px;
    height: 30px;
    float: left;
}

.gene_logo:hover {
    opacity: 0.7;
}

.homology-table {
    font-size: 12px;
    color: #777777;
}

.homology-table-header {
    font-weight: bold;
    width: 30%;
}



/* NET EXPLORER CYTOSCAPE */
/* ----------------------------- */
#cyt {
    height: 100%;
    width: 75%;
    float: left;
}

#loading {
    position: absolute;
    display: none;
    margin-top: 0px;
    margin-left: 0px;
    width: auto;
    z-index: 1000000;
}

#cyt-controls {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 25%;
    min-width: 300px;
    float: left;
    text-align: center;
    border-width: 5px;
    background-color: #F8F8F8;
    border-color: #777777;
    color: #777777;
    border-width: 4px;
}

#netexplorer-title {
    color: rgb(52, 52, 52) !important;
}

#cyt-explorer-icon {
    display: inline-block;
    margin-top: 10%;
}

#select-layout-container {
    display: block;
    text-align: left;
    padding-left: 20%;
    position: relative;
}

#select-layout-container h3 {
    display: inline-block;
    padding-right: 10%;
}

#on-click-container {
    top: 1%;
    position: relative;
    display: block;
}

#showconnections-container {
    top: 1%;
    bottom: 1%;
    position: relative;
    display: block;
}

#layout-homologs-container {
    top: 1%;
    position: relative;
    display: block;
}

.netexplorer-form {
    width: 100%;
}

#controls-container {
    top: 2%;
    position: relative;
    margin: auto;
}

.btn-netexplorer {
    width: 180px;
}


#cyto-button-container {
    position: relative;
    margin-left: 24%;
    max-width: 70%;
    margin-top: 5%;
}

.cyto-button-ind {
    justify-content: center;
    align-items:center;
}
.glyphicon-trash {
    font-size: 26;
}

.glyphicon-save {
    font-size: 26;
}

.glyphicon-open {
    font-size: 26;
    padding-right: 2%;
}

.glyphicon-share {
    font-size: 26;
}

.row-margin {
    margin-bottom: 5%;
    margin-left: 10%;
}


#slider-container {
    padding-top: 1%;
}

.glyphicon-picture {
    font-size: 26;
}

.glyphicon-resize-small {
    font-size: 26;
}

.behaviour-div {
    width: 80%;
    left: 10%;
    font-weight: normal;
    cursor: pointer;
}

.behaviour-btn{
    cursor: pointer;
}

#slider {
    display:inline-block;
}

.slider-symbol-minus{
    display: inline-block;
    float: left;
    text-align: center;
    font-weight: bold;
    margin-left: 20%;
}
.slider-symbol-plus{
    display: inline-block;
    float: right;
    text-align: center;
    font-weight: bold;
    margin-right: 20%;
}

#change-labels-container {
    top: 1%;
    position: relative;
}


#add-node-container {
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
}

#submit_add_node {
    width: 80%;
    margin-top: 1%;
}

#add-node-container .glyphicon-plus {
    padding-right: 2%;
}

.glyphicon-info-sign {
    font-size: 15px;
    cursor: pointer;

}

#map-expression-dialog {
    display: none;
    margin: 5%;
    width: 60%;
    height: 80%;
    z-index: 1000000000;
    position: fixed;
    background-color: white;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 2px;

}


#map-expression-dialog-header {
    position: fixed;
    background-color: #E9E9E9;
    width: 58%;
    height: 40px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 40px;
    padding: 1%;
}

#map-expression-dialog-body {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 4%;
    padding: 1%;
    height: 95%;
    color: #777777;
    overflow-y: scroll;
    overflow-x: hidden;
}

#map-expression-dialog-send {
    float: right;
    display: inline-block;
    margin-top: 200px;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

#exTab2 {
    display: inline-block;
}

.map-expression-btn {
    width: 100px;
    margin-left: 20px;
}

#close-map-expression {
    float: right;
    cursor: pointer;
}

.tab-pane {
    margin-top: 2%;
}

.nav-tabs {
    width: 50%;
}

.slider-handle {
    background-color: green !important;
    background-image: linear-gradient(to bottom, #5CB85C, #2c682c) !important;
}


.form-separator {
    height: 10px;
    border: 0;
    margin-top: 10%;
    margin-bottom: 0%;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


#cyt-controls-header {
    width: 100%;
    height: 380px;
}


input[type="file"] {
  display: block;
  width: 66px;
  height: 25px;
  clip: rect(0px 0px 0px 0px);
  position: absolute;
  left: 0;
  top: 0;
}

.btn-default label {
    width: 120%;
}

#upload-graph-form {
    width: 52px;
}

#dialog-confirm {
    display: none;
}

#dialog-unconnected {
    display: none;
}


#show-homologs-container {
    display: inline-block;
    width: 100%;
    height: 10%;
    position: relative;
}

#show-homologs-container-title {
    height: 100%;
}

.show-homologs-label {
    width: 60%;
    height: 70% !important;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 15%;
}

#show-homologs-toggle {
    display: inline-block;
    height: 100%;

}

#layout-dropdown {
    display: inline-block;
    height: 100%;
}

.control-row {
    height: 6%;
}
#layout-title {
    height: 100%;
}

#layout-toggle-btn {
    vertical-align: middle;
    margin-top: 10%;
}

.show-homologs-btn {
    height: 80% !important;
}



/* PATHWAY FINDER */
/* ----------------------------- */



#pfind-results {
    height: 100%;
    float: left;
    width: 70%;
    overflow-y: scroll;
}


/* FORM CONTROLS */
#pfind-form {
    position: absolute;
    height: 100%;
    width: 30%;
    text-align: center;
    background-color: #F8F8F8;
    right: 0;
}

#pfind-form-header {
    margin: 5%;
    text-align: center
}

.pfind-form-element {
    margin: 4%;
}

.pfind-input-header {
    text-align: left;
    min-height: 5%;
    padding:0;
    font-size: 15;
}

#pfind-btn {
    font-size: 40px;
    width: 70%;
    height: 8%;
    border-radius:20px;
}

#pfind-btn:hover {
    opacity: 0.7;
}
.pfind-form-icon {
    height: 40px;
    width: auto;
    margin-right: 2%;
    vertical-align: middle;
}

#pfind-results {
    padding: 4%;
}
.pathway-container {
    height: 20%;
    width: 98%;
    position: relative;
    border: solid 1px #cccccc;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.netexplorer-mini {
    width: 27px;
    height: 27px;
}

.netexplorer-mini-ref {
    font-size: 12;
}

#search-param-pathway {
    margin-left: 6%;
}

#pfind-btn {
    width: 250px;
    height: auto;
    border: 0;

}




.pfind-res-panel {
    color: #777777;
}


#pathway-filter-div {
    margin-left: 20%;
    width: 60%;
    margin-top: 6%;
    margin-bottom: 6%;
}

#pathway-filter-text {
    width: 80%;
}

.hidden {
        display: none;
}

.path-score {
    font-size: 16 !important;
}


.path-title {
    display: inline-block;
}

.path-controls{
    position: relative;
    float: right;
    margin-top: 1%;
}

/* ERROR 404 PAGE */
#error404 {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: #777777;
}

#img404 {
    margin-top: 5%;
    width: 40%;
}

/* ABOUT */
.about-title {
    color: #777777;
}

.about-title:hover {
    color: #777777;
    text-decoration: none;
}

.about-button-container {
    top: 100px !important;
}

.about-overlay-close {
    background-color: #F5F5F5;
}

.about-overlay {
    width: 1000px;
    height: 800px;
    top: 100px;
    right: 18%;
}

.transcriptome-table-div {
    width: 100% !important;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.transcriptome-table {
    color: #777777;
    font-size: 12px;
}
.transcriptome-row .col-sm-5 { /* transcriptome table column */
    text-align: center;
}

.img-bigger {
    width: auto;
    height: 100%;
}
.plot-btns {
    width: 300px;
    display: inline-block;
}

.plot-img {
    position: relative;
    width: auto;
    height: 100%;
    border: solid 1px;
    border-color:  rgba(0, 0, 0, .15);
    padding: 1%;
}

.plot-img-png {
    position: relative;
    height: 95%;
    width: 40%;
}

.view-interactome-plots:hover {
    cursor: pointer;
}

.plot-bigger:hover {
    opacity: 0.75;
    cursor: pointer;
}

.plot-viewer {
    position: relative;
    width: 100%;
    height: 80%;
}

.transcriptome-row .col-sm-7 {
    width: 100%;
    text-align: center;
}

.about-overlay-body {
    text-align: center;
    width: 100%;
    height: 100%;
}

.about-overlay-img-wrapper {
    height: 80%;
    width: 80%;
    display: inline-block;
}
.transcriptome-col {
    height: 400px !important;
}

.transcriptome-row {
    height: 100%;
}


/* TUTORIAL */
.tutorial-title {
    color: #777777;
}

#back_home {
    margin-top: 10%;
    margin-left: -24px;
}

.tutorial-title:hover {
    color: #777777;
    text-decoration: none;
}

#back_home .glyphicon-triangle-left {
    margin-right: 6px;
}

.table-of-contents {
    width: 150px;
    display: inline-block;
}

.tutorial-panel {
    width: 100%;
    display: inline-block;
}

.affix {
    top: 100px;
}

/* BLAST */
#query-textarea {
    width: 60% !important;
}

.icon-container {
    text-align: center;
}

.blast-icon-inside {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.blast-icon-container {
    vertical-align:middle;
}
.blast-title {
    vertical-align:middle;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.label-blast {
    background-color: #a265c2;
    color: white;
}

.error-msg {
    display: none;
}

.results-div {
    width: 100%;
    overflow-x: scroll;
}

#blast-results {
    font-size: 12px;
    color: #777777;
}


.ui-tooltip {
    z-index: 10000000 !important;
    white-space: pre-line !important;
    min-width:130px;
}

.pfam-line-tooltip {
    cursor: pointer;
}
.pfam-line-tooltip-subtitle {
    font-size: 12px;
    font-style: italic;
}

.pfam-line-tooltip:hover {
    cursor: pointer;
    opacity: 0.5;
}

.hom-table {
    font-size: 12px;
    color: #777777;
}


.pfam-line-table-td-scale {
    margin-right: 0 !important;
}

.pfam-line-table-td-text {
    text-align: center;
    margin-right: 0 !important;
}

/* COLOR GRADIENT */
#color-gradient {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 10000;
}

#color-gradient-table {
    background-color: white;
    margin: 0 auto;
}

#gradient-title {
    text-align: center;
    color: #777777;
}

.subtitle {
    font-size: 10px;
    color: #777777;
}
.color-gradient-td-color {
    width: 25px;
    border: solid 1px #777777;
}

.color-gradient-td-color-empty {
    width: 25px;
    border: solid 1px white;
}


.color-picker-container {
    width: 50%;
    height: auto;
}

.pick-color {
    padding: 1%;
    text-align: center;
}



.pick-color-select-fromcolor {

}

.pick-color-select-tocolor {

}

.pick-color-select-bluestart {
    background-color: #f7f8ff;
    border: solid 1px #777777;
}

.pick-color-select-blue {
    background-color: #0029ff;
    border: solid 1px #777777;
}

.pick-color-select-yellow {
    background-color: #ffe600;
    border: solid 1px #777777;
}

.pick-color-select-redstart {
    background-color: #fffafa;
    border: solid 1px #777777;
}

.pick-color-select-red {
    background-color: #ff0000;
    border: solid 1px #777777;
}




.pick-color-select-greenstart {
    background-color: #f9fff9;
    border: solid 1px #777777;
}

.pick-color-select-green {
    background-color: #42d242;
    border: solid 1px #777777;
}


.pick-color-select-purplestart {
    background-color: #fffafd;
    border: solid 1px #777777;
}

.pick-color-select-purple {
    background-color: #dd1697;
    border: solid 1px #777777;
}

.pick-color-select-white {
    background-color: white;
    border: solid 1px #777777;
}

.pick-color-group {
    display: inline-block;
    opacity: 0.4;
    width: 40%;
}
.pick-color-group:hover {
    cursor: pointer;
    opacity: 0.8;
}

.pick-color-group.group-selected {
    opacity: 1;
    border: solid 2px #777777 !important;
}

.select-color {
    display: none;
}

.color-gradient-td {
    text-align: center;
    font-size: 12px;
    padding-left: 5px;
    color: #777777;
}
#legend-nodecount-wrapper {
    background-color: white;
    vertical-align: middle;
    height: 40px;
    margin-left: 10px;
    bottom: 10px;
    position: absolute;
    z-index: 100;
    width: 300px;
}


#legend {
    margin-left: 10px;
    height: 50px !important;
    width:  50px !important;
    z-index: 100;
}

#node-counter {
    margin-left: 25px;
    vertical-align: middle;
    line-height: 40px;
    color: #777777;
    font-size: 18px;
    height: 50px !important;
    z-index: 100;
}

.legend-tooltip {
    color: #404040;
}

.legend-tooltip:hover {
    color: #404040;
    opacity: 0.7;
}

.legend-icon {
    font-size: 40px;
}

.legend-db {
    width: 30px;
    height: auto;
}


/* TUTORIAL */
.tutorial-subtitle-netexplorer {
    display: block;
    width: 400px;
    margin:0;
    padding:0;
    margin-bottom: 15px;
}

.tutorial-img {
    margin-bottom: 15px;
    max-width: 720px;
}

strong{
    font-weight: bold;
}

.tutorial-li {
  margin: 10px 0;
}

.tutorial-highlight-netexplorer {
    background-color: #DFF0D8;
}
